@import '/src/variables';

:host {
	.question-item {
		padding: 1rem;
		border-bottom: 1px solid lightgrey;
		font-size: 1.1rem;

		.question-side-detail {
			font-size: 0.85rem;
			font-weight: bold;
		}
	}

	.row-checked,
	.question-correct {
		background: $color-good;
	}

	.question-wrong {
		background: $color-bad;
	}
}
