<div class="container-lg">
	<div class="row">
		<div class="col">
			<rd-card
				[cardTitle]="'Manage Questions for (generation 1 year lower)'"
				[collapsible]="true"
				[isLoading]="loadingViewQuestions$ | async"
			>
				<form [formGroup]="questionsForm">
					<table class="table table-striped table-header-centered table-content-centered">
						<thead>
							<tr>
								<th width="30px">#</th>
								<th>Questions</th>
							</tr>
						</thead>
						<!-- ngIf to trigger markForCheck -->
						<tbody *ngIf="questionModel$ | async" formArrayName="questions">
							<tr *ngFor="let q of questionsArray.controls; let i = index">
								<td>{{ i + 1 }}.</td>
								<td>
									<div class="input-group">
										<input type="text" class="form-control" [formControlName]="i" />
										<div class="input-group-append">
											<button class="btn btn-danger" type="button" (click)="removeQuestion(i)">
												<fa-icon [icon]="['far', 'trash-alt']"></fa-icon>
											</button>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td></td>
								<td>
									<div class="input-group">
										<input type="text" class="form-control" #newQuestion />
										<div class="input-group-append">
											<button
												class="btn btn-primary"
												type="button"
												(click)="addQuestion(newQuestion.value); newQuestion.value = ''"
											>
												<!-- questions.push(newQuestion.value) -->
												<fa-icon [icon]="['fas', 'plus']"></fa-icon>
											</button>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</form>
				<button class="btn btn-primary" (click)="saveQuestions()">
					Save Questions
				</button>
			</rd-card>
		</div>
	</div>
</div>
