<div class="container-lg">
	<div class="row">
		<!-- <div class="col-3">
			<rd-card
				[cardTitle]="'Recent Trainee Comments'"
			>
			</rd-card>
		</div> -->
		<div class="col flex-grow-1">
			<div class="row">
				<rd-card [cardTitle]="'Trainee Statistic'" class="col">
					<div class="row mb-2">
						<div class="col-1 col-form-label">
							<b>Phase</b>
						</div>
						<div class="col-3">
							<ng-select
								class="col"
								[items]="phases$ | async"
								[clearable]="false"
								bindLabel="Description"
								[searchable]="false"
								[ngModel]="currentPhase$ | async"
								(change)="currentPhase$.next($event)"
							></ng-select>
						</div>
						<!-- <select [(ngModel)]="selectedPhase" (change)="reloadView()">
							<option
								*ngFor="let phase of phases$ | async"
								[value]="phase.Description"
							>
								{{ phase.Description }}
							</option>
            </select> -->
					</div>
					<div class="row">
						<table class="mr-2" *ngFor="let stat of statistics$ | async">
							<thead>
								<tr>
									<td>{{ stat.Type }}</td>
									<td class="text-right">#</td>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let data of stat.Detail">
									<td>{{ data.Description }}</td>
									<td class="text-right">{{ data.Count }}</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td>Total</td>
									<td class="text-right">{{ stat.Total }}</td>
								</tr>
							</tfoot>
						</table>
					</div>
				</rd-card>
			</div>
			<div class="row">
				<rd-card [cardTitle]="'Announcements'" class="col"> </rd-card>
			</div>
		</div>
	</div>
</div>
