<div class="container">
	<div class="row">
    <rd-card class="col-3" title="Recent Trainee Comments">
		</rd-card>
		<div class="col flex-grow-1">
			<div class="row">
				<rd-card title="Trainee Statistic" class="col">
					<div class="row mb-2">
						<span>Phase</span> &nbsp;
						<select [(ngModel)]="selectedPhase" (change)="reloadView()">
							<option *ngFor="let phase of phases" [value]="phase.Description">
								{{ phase.Description }}
							</option>
						</select>
					</div>
					<div class="row">
						<table class="mr-2" *ngFor="let stat of statistics">
							<thead>
								<tr>
									<td>{{ stat.Type }}</td>
									<td></td>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let data of stat.Detail">
									<td>{{ data.Description }}</td>
									<td>{{ data.Count }}</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td>Total</td>
									<td>{{ stat.Total }}</td>
								</tr>
							</tfoot>
						</table>
					</div>
				</rd-card>
			</div>
			<div class="row">
				<rd-card title="Announcements" class="col"> </rd-card>
			</div>
		</div>
	</div>
</div>
