<div class="container-xl">
	<div class="row">
		<div class="col-5">
			<div class="row">
				<div class="col">
					<rd-card
						[cardTitle]="'Manage Schedules'"
						[isLoading]="loadingViewSchedule$ | async"
					>
						<div class="row">
							<table class="table table-sm table-striped table-hover text-center">
								<thead>
									<tr>
										<th>Name</th>
										<th>Date</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngIf="(trainerSchedule$ | async)?.length === 0">
										<td class="p-3" colspan="2">No schedules yet</td>
									</tr>
									<tr
										*ngFor="let schedule of (trainerSchedule$ | async); trackBy:trackScheduleById"
										(click)="selectSchedule(schedule)"
										class="cursor-pointer"
									>
										<td>{{ schedule.TrainerName }}</td>
										<td>
											{{ schedule.StartDate | date: formatForStartDate(schedule)}} - 
											{{ schedule.EndDate | date: formatForEndDate(schedule)}}
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="row mt-2" (click)="exportToExcel()">
							<button class="btn bg-excel">Export into Excel</button>
						</div>
					</rd-card>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<rd-card
						[cardTitle]="'Add Schedules for'"
						[expanded]="false"
						[isLoading]="loadingFormSchedule$ | async"
					>
						<div class="col v-list-m-12">
							<div class="row">
								<textarea class="form-control vertical-text-area minh-300px" #scheduleCsv>{{
									addSchedulePlaceholder
								}}</textarea>
							</div>
							<div class="row">
								<button class="btn btn-primary" (click)="createSchedule(scheduleCsv.value)">
									<fa-icon [icon]="['fas', 'plus']"></fa-icon> Create Schedule(s)
								</button>
							</div>
						</div>
					</rd-card>
				</div>
			</div>
		</div>
		<div class="col">
			<rd-card
				[cardTitle]="'Answer Details'"
				[collapsible]="selectedSchedule$ | async"
				[expanded]="selectedSchedule$ | async"
				[isLoading]="loadingViewScheduleDetail$ | async"
				(toggleExpand)="closeViewSchedule()"
			>
				<div class="col">
					<form #scheduleForm="ngForm">
						<input type="hidden" name="answerId" [ngModel]="(selectedSchedule$ | async)?.Id" />
						<div class="form-group row">
							<label class="col-2 col-form-label" for="trainerName">Trainer</label>
							<input
								class="form-control col"
								type="text"
								name="trainerName"
								[ngModel]="(selectedSchedule$ | async)?.TrainerName"
								disabled
							/>
						</div>
						<div class="form-group row">
							<label class="col-2 col-form-label" for="startTime">Start Time</label>
							<input
								type="datetime-local"
								class="form-control col"
								name="startTime"
								[ngModel]="(selectedSchedule$ | async)?.StartDate | date: scheduleDetailDateFormat"
							/>
						</div>
						<div class="form-group row">
							<label class="col-2 col-form-label" for="endTime">End Time</label>
							<input
								type="datetime-local"
								class="form-control col"
								name="endTime"
								[ngModel]="(selectedSchedule$ | async)?.EndDate | date: scheduleDetailDateFormat"
							/>
						</div>
						<div class="row justify-content-around">
							<!-- <input type="submit" value="Save Schedule" class="btn btn-primary"/> -->
							<button class="btn btn-primary" (click)="saveSchedule(scheduleForm)">
								<fa-icon [icon]="['fas', 'pen']"></fa-icon>
								Save Schedule
							</button>
							<rd-confirmable-pop-up (confirm)="deleteSchedule(scheduleForm)">
								<button class="btn btn-danger">
									<fa-icon [icon]="['far', 'trash-alt']"></fa-icon>
									Delete
								</button>
							</rd-confirmable-pop-up>
						</div>
					</form>
				</div>
				<hr />
				<div class="col v-list-m-12 v-list-bordered">
					<div *ngFor="let question of questions?.Questions; let i = index">
						<p class="font-weight-bold">
							{{ i + 1 + '. ' + question }}
						</p>
						<p class="pl-4" style="white-space: pre-wrap">
							{{ ((selectedSchedule$ | async)?.Answers)[i] || '-' }}
						</p>
					</div>
				</div>
			</rd-card>
		</div>
	</div>
</div>
