:host {
	display: flex;
	margin: 15px 0 0;
	padding: unset;
	background-color: white;
	box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.2);
  flex-flow: column;
  position: relative;

	.card__title {
		padding: 7px 7px 7px 12px;
		font-weight: bold;
    border-bottom: 1px solid lightgrey;
    
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    
    text-overflow: ellipsis;
    white-space: nowrap;
	}

	.card__body {
    position: relative;
    padding: 15px;
		flex: 1 1 0px;

		display: flex;
		flex-flow: column;
    align-items: flex-start;
  }

  .card__cover{
    background-color: rgba(255,255,255,0.8);
  }

  .badges button{
    font-size: 0.8rem;
    padding: 2px 4px;
  }

  
}
// Collapse animation use title as button
:host(.card-collapsible){
  > .card__title {
    cursor: pointer;
    &:hover {
      background-color: #eeeeee;
    }
  }
}
