<div class="card__title" (click)="toggleMinimize()">
	{{ cardTitle }}
</div>
<div class="card__body row" [@dropdown]="expanded ? 'expand' : 'collapse'">
  <div class="col">
    <ng-content></ng-content>
  </div>
	<!-- <div class="card__loader"> -->
	<div
		class="size-cover bg-white z-index-10"
    [@faderAnimation]="isLoading ? 'shown' : 'hidden'"
	></div>
</div>

<div class="absolute-center z-index-15">
  <span [@swipeAnimation]="isLoading ? 'shown' : 'hidden'">
    <div class="lds-ring">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </span>
</div>