<div class="container-xl">
	<div class="row">
		<div class="col-lg-3 col-md-4">
			<rd-card
				[cardTitle]="isEditing ? 'Edit Generation' : 'Insert New Generation'"
				[isLoading]="loadingFormGen$ | async"
				[expanded]="isEditing"
			>
				<div rdCardBadges class="" *ngIf="isEditing">
					<button class="btn btn-sm btn-secondary mr-1" (click)="cancelEdit()">
						<fa-icon [icon]="['fas', 'times']"></fa-icon> Cancel
					</button>
				</div>
				<form [formGroup]="generationForm">
					<div class="row form-group">
						<label class="col-3 col-form-label">Name</label>
						<div class="col">
							<input class="form-control" formControlName="generationName" />
						</div>
					</div>
					<div class="row form-group">
						<label class="col-3 col-form-label">Semester</label>
						<div class="col">
							<div class="custom-control custom-radio">
								<input
									type="radio"
									id="oddSemRadio"
									class="custom-control-input"
									value="Odd"
									formControlName="semester"
								/>
								<label class="custom-control-label" for="oddSemRadio">Odd</label>
							</div>
							<div class="custom-control custom-radio">
								<input
									type="radio"
									id="eventSemRadio"
									class="custom-control-input"
									value="Even"
									formControlName="semester"
								/>
								<label class="custom-control-label" for="eventSemRadio">Even</label>
							</div>
							<div class="custom-control custom-radio">
								<input
									type="radio"
									id="compactSemRadio"
									class="custom-control-input"
									value="Compact"
									formControlName="semester"
								/>
								<label class="custom-control-label" for="compactSemRadio">Compact</label>
							</div>
						</div>
					</div>
					<div class="row form-group">
						<label class="col-3 col-form-label">Last Year</label>
						<div class="col">
							<input type="number" class="form-control" formControlName="year" />
						</div>
					</div>
					<div class="row justify-content-around">
						<button
							class="btn btn-primary"
							*ngIf="!isEditing"
							[disabled]="generationForm.invalid"
							(click)="submitGenForm()"
						>
							<fa-icon [icon]="['fas', 'plus']"></fa-icon> Create Generation
						</button>
						<button
							class="btn btn-primary"
							*ngIf="isEditing"
							[disabled]="generationForm.invalid"
							(click)="submitGenForm()"
						>
							<fa-icon [icon]="['fas', 'pen']"></fa-icon> Save Change(s)
						</button>
					</div>
				</form>
			</rd-card>
			<rd-card
				[cardTitle]="'Generation List'"
				[collapsible]="false"
				[isLoading]="loadingViewGen$ | async"
			>
				<rd-data-table
					[data]="generations$ | async"
					[selectable]="true"
					[sortable]="true"
					[noDataMessage]="'No generations found'"
				>
					<rd-table-header> </rd-table-header>
					<ng-container>
						<rd-table-column
							prop="Description"
							[label]="'Name'"
							[sortable]="true"
						></rd-table-column>
						<rd-table-column prop="Semester" [label]="'Sem.'" [sortable]="true"></rd-table-column>
						<rd-table-column prop="yearRange" [label]="'Year'" [sortable]="true"></rd-table-column>
					</ng-container>
				</rd-data-table>
			</rd-card>
		</div>
		<div class="col">
			<rd-card
				[cardTitle]="'Insert/Update Trainee in Generation'"
				[isLoading]="loadingFormTrainee$ | async"
				[expanded]="isEditing"
			>
				<div rdCardBadges class="" *ngIf="isEditing">
					<button class="btn btn-sm btn-secondary mr-1" (click)="cancelEdit()">
						<fa-icon [icon]="['fas', 'times']"></fa-icon> Cancel
					</button>
				</div>
				<form>
					<div class="row form-group">
						<ul>
							<li>
								The input format must be: Major, Information Source, Registration Code, Binusian
								Number, Semester, Gender, Handphone, Email, Registration Date, IP Address, Identity
								Number, Trainee Code, Is Active
							</li>
							<li>Handphone, email, Identity Number can be filled with null</li>
							<li>
								There is no problem if Registrant Code has already exist in server (duplicated)
							</li>
							<li>Trainee Code not filled if that student is only BEE+ Member</li>
							<li>
								Trainee Code only filled when that student joined the assistant recruitment
								(trainee)
							</li>
							<li>
								Fill 1 in "Is Active" field if you want to mark this student as active member,
								otherwise fill 0
							</li>
							<li>
								Fill Now in "Registration Date" if you want to fill this field with current date
							</li>
							<li>
								For Example
								<ul>
									<li>
										Computer Science, Assistant, 3, 1500123456, 3, Male, 081254654213,
										John@yahoo.com, 2012-12-14 12:35, 127.0.0.1, 1234567890, T001, 1
									</li>
									<li>
										Computer Science, Friends, 4, 1500123456, 5, Male, , , Now, 192.168.2.10, , ,1
									</li>
								</ul>
							</li>
						</ul>
						<textarea
							class="form-control vertical-text-area minh-200px"
							[formControl]="traineeText"
						></textarea>
					</div>
					<div class="row justify-content-around">
						<button
							class="btn btn-primary"
							[disabled]="traineeText.invalid"
							(click)="submitTraineeForm()"
						>
							<fa-icon [icon]="['fas', 'plus']"></fa-icon> Insert/Update
						</button>
					</div>
				</form>
			</rd-card>
			<rd-card
				[cardTitle]="'Trainees in ' + (currentGeneration$ | async)?.Description"
				[collapsible]="false"
				[isLoading]="loadingViewTrainee$ | async"
			>
				<div class="row form-group">
					<div class="col-6">
						<input
							class="form-control"
							placeholder="Search by number / code / name"
							[formControl]="searchTextControl"
						/>
					</div>
				</div>
				<rd-data-table
					[data]="currentGenTraineesFiltered$ | async"
					[selectable]="true"
					[multipleSelectable]="true"
					[sortable]="true"
					[fixedHeight]="500"
					[noDataMessage]="'No trainees yet'"
				>
					<rd-table-header> </rd-table-header>
					<ng-container>
						<rd-table-column
							prop="TraineeNumber"
							[label]="'Binusian Number'"
							[sortable]="true"
						></rd-table-column>
						<rd-table-column
							prop="TraineeCode"
							[label]="'Trainee Code'"
							[sortable]="true"
							[sortState]="'ASC'"
						></rd-table-column>
						<rd-table-column
							prop="TraineeName"
							[label]="'Name'"
							[sortable]="true"
						></rd-table-column>
						<rd-table-column prop="Status" [label]="'Status'" [sortable]="true"></rd-table-column>

						<rd-table-column [label]="'Actions'" [cellClass]="'text-left'">
							<ng-template rdTableTemplate="body" let-trainee="rowData">
								<!-- Delete -->
								<rd-confirmable-pop-up
									[description]="'Delete ' + trainee.TraineeName + '?'"
									(confirm)="deleteTrainee(trainee)"
								>
									<button class="btn btn-xs btn-danger">
										<fa-icon [icon]="['far', 'trash-alt']"></fa-icon> Delete
									</button>
								</rd-confirmable-pop-up>
								<!-- Change active status -->
								<rd-confirmable-pop-up
									[title]="'Change ' + trainee.TraineeCode + '\'s active status?'"
									[description]="deactivateReasonTemplate"
									(confirm)="toggleTraineeActive(trainee)"
									[canConfirm]="deactivateReasonControl.valid"
								>
									<ng-template #deactivateReasonTemplate>
										<textarea
											class="form-control"
											[formControl]="deactivateReasonControl"
											placeholder="Input reasons here..."
											cols="30"
											rows="4"
										></textarea>
									</ng-template>
									<button class="btn btn-xs btn-warning" [hidden]="!trainee.isActive">
										<fa-icon [icon]="['fas', 'times']"></fa-icon> Deactivate
									</button>
									<button class="btn btn-xs btn-success" [hidden]="trainee.isActive">
										<fa-icon [icon]="['fas', 'check']"></fa-icon> Activate
									</button>
								</rd-confirmable-pop-up>
							</ng-template>
						</rd-table-column>
					</ng-container>
				</rd-data-table>
				<!-- <div class="row scrollable-table maxh-500px">
					<table class="table table-sm table-striped table-hover text-center">
						<thead>
							<tr>
								<th>Binusian Number</th>
								<th>Trainee Code</th>
								<th>Name</th>
								<th>Status</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody style="max-height: 600px; overflow-y: auto">
							<tr *ngIf="(currentGenTraineesFiltered$ | async)?.length === 0">
								<td colspan="5">No trainees....</td>
							</tr>
							<tr
								*ngFor="let trainee of currentGenTraineesFiltered$ | async"
								class="cursor-pointer"
							>
								<td>{{ trainee.TraineeNumber }}</td>
								<td>{{ trainee.TraineeCode }}</td>
								<td>{{ trainee.TraineeName }}</td>
								<td>{{ trainee.Status }}</td>
								<td>
									<rd-confirmable-pop-up
										[description]="'Delete ' + trainee.TraineeName + '?'"
										(confirm)="deleteTrainee(trainee)"
									>
										<button class="btn btn-xs btn-danger">
											<fa-icon [icon]="['far', 'trash-alt']"></fa-icon> Delete
										</button>
									</rd-confirmable-pop-up>
									<rd-confirmable-pop-up
										[title]="'Change ' + trainee.TraineeCode + '\'s active status?'"
										[description]="deactivateReasonTemplate"
										(confirm)="toggleTraineeActive(trainee)"
										[canConfirm]="trainee.isActive && deactivateReasonControl.valid"
									>
										<ng-template #deactivateReasonTemplate>
											<textarea
												class="form-control"
												[formControl]="deactivateReasonControl"
												placeholder="Input reasons here..."
												cols="30"
												rows="4"
											></textarea>
										</ng-template>
										<button class="btn btn-xs btn-warning" [hidden]="!trainee.isActive">
											<fa-icon [icon]="['fas', 'times']"></fa-icon> Deactivate
										</button>
										<button class="btn btn-xs btn-success" [hidden]="trainee.isActive">
											<fa-icon [icon]="['fas', 'check']"></fa-icon> Activate
										</button>
									</rd-confirmable-pop-up>
								</td>
							</tr>
						</tbody>
					</table>
				</div> -->
			</rd-card>
		</div>
	</div>
</div>
