<div class="container">
	<div class="row">
		<div class="col-6">
			<rd-card
				[cardTitle]="(editForm$ | async) ? 'Edit Generation' : 'Insert New Generation'"
				[collapsible]="false"
				[isLoading]="loadingFormGen$ | async"
        >
				<div rdCardBadges class="" *ngIf="editForm$ | async">
					<button class="btn btn-sm btn-secondary mr-1" (click)="cancelEdit()">
						<fa-icon [icon]="['fas', 'times']"></fa-icon> Cancel
					</button>
				</div>
				<form #genForm="ngForm">
					<input type="hidden" name="genId" [ngModel]="(editForm$ | async)?.GenerationId" />
					<div class="row form-group">
						<label for="genName" class="col-3 col-form-label">Name</label>
						<div class="col">
							<input
								type="text"
								class="form-control"
								name="genName"
								[ngModel]="(editForm$ | async)?.Description"
								required
							/>
						</div>
					</div>
					<div class="row form-group">
						<label class="col-3 col-form-label">Semester</label>
						<div class="col">
							<div class="custom-control custom-radio">
								<input
									type="radio"
									id="oddSemRadio"
									name="semesterRadio"
									class="custom-control-input"
									[ngModel]="(editForm$ | async)?.Semester"
									value="Odd"
									required
								/>
								<label class="custom-control-label" for="oddSemRadio">Odd</label>
							</div>
							<div class="custom-control custom-radio">
								<input
									type="radio"
									id="eventSemRadio"
									name="semesterRadio"
									class="custom-control-input"
									[ngModel]="(editForm$ | async)?.Semester"
									value="Even"
									required
								/>
								<label class="custom-control-label" for="eventSemRadio">Even</label>
							</div>
							<div class="custom-control custom-radio">
								<input
									type="radio"
									id="compactSemRadio"
									name="semesterRadio"
									class="custom-control-input"
									[ngModel]="(editForm$ | async)?.Semester"
									value="Compact"
									required
								/>
								<label class="custom-control-label" for="compactSemRadio">Compact</label>
							</div>
						</div>
					</div>
					<div class="row form-group">
						<label for="lastYear" class="col-3 col-form-label">Last Year</label>
						<div class="col">
							<input
								type="number"
								class="form-control"
								name="lastYear"
                [ngModel]="(editForm$ | async)?.Year"
								required
							/>
						</div>
					</div>
					<div class="row justify-content-around">
						<button
							class="btn btn-primary"
              *ngIf="!(editForm$ | async)"
              [disabled]="!genForm.valid"
							(click)="submitGenForm(genForm)"
						>
							<fa-icon [icon]="['fas', 'plus']"></fa-icon> Create Generation
						</button>
						<button
							class="btn btn-primary"
							*ngIf="editForm$ | async"
              [disabled]="!genForm.valid"
							(click)="submitGenForm(genForm)"
						>
							<fa-icon [icon]="['fas', 'pen']"></fa-icon> Save Change(s)
						</button>
						<!-- <rd-confirmable-button *ngIf="(editForm$|async)">
              <button class="btn btn-danger">
                <fa-icon [icon]="['far', 'trash-alt']"></fa-icon> Delete Generation
              </button>
						</rd-confirmable-button> -->
					</div>
				</form>
			</rd-card>
		</div>
		<div class="col">
			<rd-card
				[cardTitle]="'Generation List'"
				[collapsible]="false"
				[isLoading]="loadingViewGen$ | async"
			>
				<table class="table table-sm table-striped table-hover text-center">
					<thead>
						<tr>
							<th>Name</th>
							<th>Semester</th>
							<th>Year</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngIf="(generations$ | async)?.length === 0">
							<td colspan="3">No generations</td>
						</tr>
						<tr
							*ngFor="let gen of generations$ | async"
							class="cursor-pointer"
							(click)="selectGeneration(gen)"
						>
							<td>{{ gen.Description }}</td>
							<td>{{ gen.Semester }}</td>
							<td>{{ gen.yearRange }}</td>
						</tr>
					</tbody>
				</table>
			</rd-card>
		</div>
	</div>
</div>
