<div class="container-xl">
	<div class="row">
		<div class="col">
			<rd-card
				[cardTitle]="'View All Trainee'"
				[isLoading]="loadingTrainee$ | async"
				[collapsible]="false"
			>
				<div class="row">
					<div class="col-4">
						<div class="row form-group">
							<label for="phase" class="col-4 col-form-label">Phase</label>
							<div class="col">
								<ng-select
									class="col"
									[items]="phases$ | async"
									[clearable]="false"
									bindLabel="Description"
									[searchable]="false"
									placeholder="Phase"
									[ngModel]="currentPhase$ | async"
									(change)="currentPhase$.next($event)"
								></ng-select>
							</div>
						</div>
						<div class="row form-group">
							<label for="phase" class="col-4 col-form-label">Search</label>
							<div class="col">
								<input
									type="text"
									class="form-control"
									placeholder="Txxx, name, etc..."
									[formControl]="searchTextControl"
								/>
							</div>
						</div>
						<div class="row form-group">
							<span class="font-weight-bold text-success">Active</span>
							<span>({{ activeNumber$ | async }})</span>
							&nbsp; &nbsp; &nbsp;
							<span class="font-weight-bold text-danger">Inactive</span>
							<span>({{ inactiveNumber$ | async }})</span>
						</div>
					</div>
					<div class="col">
						<div class="row justify-content-end">
							<rd-toggle-button-group
								[items]="['Thumbnail', 'List']"
								[activeEnum]="viewMode"
								(toggle)="viewMode = $event"
								class="mb-2"
							></rd-toggle-button-group>
						</div>
						<div class="row justify-content-end">
							<rd-toggle-button-group
								[items]="['All', 'Active', 'Inactive']"
								[activeEnum]="traineeActivityFilter$ | async"
								(toggle)="traineeActivityFilter$.next($event)"
							></rd-toggle-button-group>
						</div>
					</div>
				</div>
				<!-- <div class="row" [ngSwitch]="viewMode"> -->
				<div class="row" [hidden]="!(viewMode == 'Thumbnail')">
					<!-- *ngSwitchCase="'thumbnail'" -->
					<div class="col list-thumbnail">
						<rd-trainee-detail-on-hover
							*ngFor="let trainee of filteredTrainees$ | async"
							[traineeId]="trainee.TraineeId"
						>
							<a
								class="card"
								[ngClass]="traineeThumbnailInactiveClass(trainee)"
								(click)="viewTraineeDetail(trainee)"
							>
								<p style="margin: 2px">
									<b>{{ trainee.TraineeCode }}{{ trainee.IsVeteran ? '- V' : '' }}</b>
								</p>
								<img
									alt="{{ trainee.TraineeCode }} - {{ trainee.TraineeName }}"
									[src]="trainee.thumbnailLink"
									class="mb-2"
								/>
								<!-- [src]="['File.svc/GetThumbnail',trainee.PictureId,'95']" -->
								<span style="position: relative" *ngIf="!trainee.IsActive">
									<img
										src="assets/images/rose-icon.png"
										style="position: absolute; top: -30px; left: 30px; width: 30px"
									/>
								</span>
								<div class="row text-center justify-content-evenly">
									<span class="text-success">
										<b>{{ trainee.Plus }}</b>
									</span>
									&nbsp;
									<span>
										<b>{{ trainee.Neutral }}</b>
									</span>
									&nbsp;
									<span class="text-danger">
										<b>{{ trainee.Minus }}</b>
									</span>
									<br />
								</div>
								{{ trainee.TraineeNumber }}
								<br />
								<small style="word-wrap: break-word">{{ trainee.TraineeName }}</small>
							</a>
						</rd-trainee-detail-on-hover>
					</div>
				</div>
				<div class="row" [hidden]="!(viewMode == 'List')">
					<rd-data-table
						[data]="filteredTrainees$ | async"
						[selectable]="true"
						[sortable]="true"
						[noDataMessage]="'No trainees...'"
						[tableClass]="'table-striped table-hover text-center'"
						[conditionalRowClass]="traineeRowInactiveClass"
						(clickRow)="viewTraineeDetail($event)"
					>
						<rd-table-header> </rd-table-header>
						<rd-table-column
							prop="TraineeCode"
							[label]="'Trainee Code'"
							[sortable]="true"
						></rd-table-column>
						<rd-table-column
							prop="TraineeNumber"
							[label]="'Binusian Number'"
							[sortable]="true"
						></rd-table-column>
						<rd-table-column
							prop="TraineeName"
							[label]="'Name'"
							[sortable]="true"
						></rd-table-column>
						<rd-table-column prop="Major" [label]="'Major'" [sortable]="true"></rd-table-column>
						<rd-table-column prop="Gender" [label]="'Gender'" [sortable]="true"></rd-table-column>
						<rd-table-column
							prop="Plus"
							[label]="'Plus'"
							[sortable]="true"
							[cellClass]="'text-success'"
						></rd-table-column>
						<rd-table-column prop="Neutral" [label]="'Neutral'" [sortable]="true"></rd-table-column>
						<rd-table-column
							prop="Minus"
							[label]="'Minus'"
							[sortable]="true"
							[cellClass]="'text-danger'"
						></rd-table-column>
					</rd-data-table>
				</div>
			</rd-card>
		</div>
	</div>
</div>
