<div class="container">
	<div class="row">
		<div class="col">
			<rd-card [cardTitle]="'View All Trainee'" [collapsible]="false">
				<div class="row">
					<div class="col-4">
						<div class="row form-group">
							<label for="phase" class="col-4 col-form-label">Phase</label>
							<div class="col">
								<ng-select
									class="col"
									[items]="phases$ | async"
									[clearable]="false"
									bindLabel="PhaseType"
									placeholder="Phase"
									[ngModel]="(phases$ | async)[0]"
									(change)="onChangePhase($event)"
								></ng-select>
							</div>
						</div>
						<div class="row form-group">
							<label for="phase" class="col-4 col-form-label">Search</label>
							<div class="col">
								<input
									type="text"
									class="form-control"
									placeholder="Txxx, name, etc..."
								/>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row justify-content-end">
							<!-- <div class="col-auto"> -->
							<div class="btn-group">
								<button class="btn btn-primary" (click)="viewMode='thumbnail'">
									Thumbnail
								</button>
								<button class="btn btn-primary" (click)="viewMode='list'">
									List
								</button>
							</div>
							<!-- </div> -->
						</div>
					</div>
				</div>
				<div class="row" [ngSwitch]="viewMode">
					<div class="col list-thumbnail" *ngSwitchCase="'thumbnail'">
            
						<a
              *ngFor="let trainee of filteredTrainees$ | async"
              [ngClass]="{'inactive-trainee': !trainee.IsActive }"
              class="hoverCell pointer clean-link card trainee-details-hotspot"
							[routerLink]="[trainee.TraineeId, false]"
            >
            <p style="margin: 2px"><b>{{trainee.TraineeCode}}{{ trainee.IsVeteran ? '- V' : '' }}</b></p>
            <img alt="{{trainee.TraineeCode}} - {{trainee.TraineeName}}"
            src="../../../../assets/images/mock-trainee-pic.jpg"
            [ngClass]="{'grayscale': !trainee.IsActive}"
            class="mb-2"/>
            <!-- [src]="['File.svc/GetThumbnail',trainee.PictureId,'95']" -->
            <span style="position: relative" *ngIf="!trainee.IsActive">
                <img src="Assets/rose-icon.png" width="30" style="position: absolute; top: -30px; left: 30px;" />
            </span>
            <div class="row text-center justify-content-evenly">
              <span [ngClass]="{'text-success': trainee.IsActive}"><b>{{trainee.Plus}}</b></span>&nbsp;
              <span [ngClass]="{'text-secondary': trainee.IsActive}"><b>{{trainee.Neutral}}</b></span>&nbsp;
              <span [ngClass]="{'text-danger': trainee.IsActive}"><b>{{trainee.Minus}}</b></span><br />
            </div>
            {{trainee.TraineeNumber}}
            <br />
            <small style="word-wrap: break-word">{{trainee.TraineeName}}</small>
						</a>
					</div>
					<table class="table table-hover text-center" *ngSwitchCase="'list'">
						<thead>
							<tr>
								<th>Trainee Code</th>
								<th>Binusian Number</th>
								<th>Name</th>
								<th>Major</th>
								<th>Gender</th>
								<th>Plus</th>
								<th>Neutral</th>
								<th>Minus</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngIf="(filteredTrainees$ | async)?.length === 0">
								<td colspan="6">No votes yet</td>
							</tr>
							<!-- TODO: Create animation of entering and exiting when filtering trainee -->
							<tr
								*ngFor="let trainee of filteredTrainees$ | async"
								(click)="onSelectTrainee(trainee)"
								class="cursor-pointer"
								[ngClass]="{
									'bg-danger': !trainee.IsActive,
									'text-white': !trainee.IsActive
								}"
							>
								<td>{{ trainee.TraineeCode }}</td>
								<td>{{ trainee.TraineeNumber }}</td>
								<td>{{ trainee.TraineeName }}</td>
								<td>{{ trainee.Major }}</td>
								<td>{{ trainee.Gender }}</td>
								<td [class.text-success]="trainee.IsActive">
									+{{ trainee.Plus }}
								</td>
								<td>{{ trainee.Neutral }}</td>
								<td [class.text-danger]="trainee.IsActive">
									-{{ trainee.Minus }}
								</td>

								<!-- <td>{{ presentation.traineeName }}</td>
                <td>{{ presentation.savedAt | date: 'dd-MM-yyyy HH:mm:ss' }}</td>
                <td>{{ presentation.presentationNo }}</td>
                <td>{{ presentation.score }}</td>
                <td>{{ presentation.status }}</td>
                <td>{{ presentation.savedBy }}</td> -->
							</tr>
						</tbody>
					</table>
				</div>
			</rd-card>
		</div>
	</div>
</div>
