:host {
	.list-thumbnail {
		display: flex;
		flex-wrap: wrap;
    justify-content: center;
    
    .card {
      width: 100px;
      margin: 0.25em;
      padding: 0.15em;
      text-align: center;
      position: relative;
      box-shadow: 1px 1px 2px 0px #ccc;
      border: 1px solid #bbb;
      color: inherit;
      text-decoration: none;
      background-color: unset;
      
      img {
        border: none;
        width: 100%;
        height: auto;
      }
    }

    .trainee-inactive {
      background: #a5a5a5;
      color: black !important;
      &:hover {
        color: #333;
      }

      img{
        filter: grayscale(100%);
      }
    }
  }
  
}

:host ::ng-deep {

  .trainee-row{
  
    &-inactive{
      background: #dc3545 !important;
      td{
        color: white !important;
      }
    }
  }
}