<div class="container-lg">
	<div class="row">
		<div class="col">
			<rd-card [cardTitle]="'Trainee ' + traineeDetail.TraineeCode">
				<div class="row">
					<div class="col-auto">
						<img
							[src]="'File.svc/GetThumnail/' + traineeDetail.PictureId + '/150'"
							style="width: auto; height: 100%;"
						/>
					</div>
					<div class="col">
						<div class="row">
							<div class="col font-weight-bold">Binusian Number</div>
							<div class="col">: {{ traineeDetail.TraineeNumber }}</div>
						</div>
						<div class="row">
							<div class="col font-weight-bold">Name</div>
							<div class="col">: {{ traineeDetail.TraineeName }}</div>
						</div>
						<div class="row">
							<div class="col font-weight-bold">Gender</div>
							<div class="col">: {{ traineeDetail.Gender }}</div>
						</div>
						<div class="row">
							<div class="col font-weight-bold">Major</div>
							<div class="col">: {{ traineeDetail.Major }}</div>
						</div>
					</div>
				</div>
			</rd-card>
		</div>
		<!-- If veteran -->
		<div class="col" *ngIf="traineeDetail.IsVeteran">
			<rd-card [cardTitle]="'Trainee Veteran History'">
				<div class="row">
					<div class="col v-list-m-6 v-list-bordered">
						<div
							class="row"
							*ngFor="let history of traineeDetail.DeactivateReasons"
						>
							<div class="col">
								<div class="font-weight-bold">
									Generation: {{ history.GenerationName }}
								</div>
								<div class="pl-4">{{ history.Reason }}</div>
								<div class="text-right">
									<span class="font-weight-bold align-self-end">{{
										history.UserName
									}}</span>
									at
									{{ history.Date | date: viewDateFormat }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</rd-card>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<rd-card [cardTitle]="'Trainee Notes'">
				<!-- <div class="row form-group">
          <label for="addNewNote" class="col-auto col-form-label"></label>
          div.col-5
        </div> -->
				<div class="row">
					<div
						class="col-7 v-list-m-6 v-list-bordered border-lightgrey border-full-solid border-rad-8 py-2"
					>
						<div class="row" *ngIf="traineeDetail.Notes.length === 0">
							<div class="col align-items-center justify-content-center">
								<i>No notes yet</i>
							</div>
						</div>
						<div class="row" *ngFor="let note of traineeDetail.Notes">
							<!-- Need extra col-row due to v-list-m-6 styling 
                prevents > 1 child element -->
							<div class="col">
								<div class="row">
									<div class="col-auto">
										<div class="font-weight-bold">
											{{ note.Reputation }}
										</div>
									</div>
									<div class="col">
										<div>{{ note.Description }}</div>
										<div>
											<span class="font-weight-bold">{{ note.SavedBy }}</span>
											at {{ note.SavedAt | date: viewDateFormat }}
										</div>
									</div>
									<div class="col-auto">
										<rd-confirmable-button (confirm)="deleteNote(note)">
											<button class="btn btn-danger">
												<fa-icon [icon]="['far', 'trash-alt']"></fa-icon> Delete
											</button>
										</rd-confirmable-button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col col-flex ml-2 border-left border-lightgrey">
						<span class="row justify-content-center pr-2 mb-2"
							><b>Insert new Note</b></span
						>
						<!-- <b class="row">Insert new Note</b> -->
						<form class="row">
							<div class="col">
								<textarea
									name="evalNote"
									id="evalNote"
									class="form-control h-100"
									style="resize: none;"
									placeholder="Notes"
								></textarea>
							</div>
							<div class="col-4 v-list-m-12 col-flex justify-content-center">
								<div class="row">
									<ng-select
										id="evalType"
										name="evalType"
										class="col"
										[searchable]="false"
										[clearable]="false"
									></ng-select>
								</div>
								<div class="row">
									<button type="submit" class="btn btn-block btn-primary">
										Insert New Note
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</rd-card>
		</div>
		<!-- <div class="col-4">
      <rd-card [cardTitle]="'Insert New Notes'">

      </rd-card>
    </div> -->
	</div>
</div>
