<div class="container-xl">
	<div class="row">
		<div class="col-5">
			<rd-card
				[cardTitle]="'Trainee ' + (traineeDetail$ | async)?.TraineeCode"
				[isLoading]="loadingViewTrainee$ | async"
			>
				<div class="row">
					<div class="col-auto">
						<img [src]="(traineeDetail$ | async)?.imageLink" style="width: auto; height: 100%" />
					</div>
					<div class="col">
						<div class="row">
							<div class="col-4 font-weight-bold">Binusian Number</div>
							<div class="col">: {{ (traineeDetail$ | async)?.TraineeNumber }}</div>
						</div>
						<div class="row">
							<div class="col-4 font-weight-bold">Name</div>
							<div class="col">: {{ (traineeDetail$ | async)?.TraineeName }}</div>
						</div>
						<div class="row">
							<div class="col-4 font-weight-bold">Gender</div>
							<div class="col">: {{ (traineeDetail$ | async)?.Gender }}</div>
						</div>
						<div class="row">
							<div class="col-4 font-weight-bold">Major</div>
							<div class="col">: {{ (traineeDetail$ | async)?.Major }}</div>
						</div>
					</div>
				</div>
			</rd-card>
			<rd-card [cardTitle]="'Trainee Veteran History'" *ngIf="(traineeDetail$ | async)?.IsVeteran">
				<div class="row">
					<div class="col v-list-m-6 v-list-bordered">
						<div class="row" *ngFor="let history of (traineeDetail$ | async)?.DeactivateReasons">
							<div class="col">
								<div class="font-weight-bold">Generation: {{ history.GenerationName }}</div>
								<div class="pl-4">{{ history.Reason }}</div>
								<div class="text-right">
									<span class="font-weight-bold align-self-end">{{ history.UserName }}</span>
									at
									{{ history.Date | date: viewDateFormat }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</rd-card>
			<rd-card
				[cardTitle]="'Attendance History'"
				[isLoading]="loadingViewTraineeRecord$ | async"
				[maxHeight]="300"
			>
				<table class="table table-sm table-striped table-hover">
					<thead>
						<tr>
							<th>Type</th>
							<th>Time</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngIf="(traineeRecord$ | async)?.Attendances?.length === 0">
							<td colspan="2" class="text-center p-4 font-italic">No attendances</td>
						</tr>
						<tr *ngFor="let att of (traineeRecord$ | async)?.Attendances" class="cursor-pointer">
							<td>{{ att.Status }}</td>
							<td>{{ att.AttendanceTime | date: attendanceDateFormat }}</td>
						</tr>
					</tbody>
				</table>
			</rd-card>
		</div>
		<!-- If veteran -->
		<div class="col">
			<rd-card [cardTitle]="'Scores'" [isLoading]="loadingViewTraineeRecord$ | async">
				<table class="table table-sm table-striped table-hover text-center">
					<thead>
						<tr>
							<th>Phase</th>
							<th>Schedule</th>
							<th>Case</th>
							<th>Score</th>
							<th>Entry By</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngIf="(traineeRecord$ | async)?.Scores?.length === 0">
							<td colspan="5">No scores</td>
						</tr>
						<tr *ngFor="let score of (traineeRecord$ | async)?.Scores" class="cursor-pointer">
							<td>{{ score.PhaseName }}</td>
							<td>{{ score.ScheduleName }}</td>
							<td>{{ score.CaseName }}</td>
							<td>{{ score.Score }}</td>
							<td>{{ score.EntryBy }}</td>
						</tr>
					</tbody>
				</table>
			</rd-card>
			<rd-card
				[cardTitle]="'Trainee Notes'"
				[isLoading]="(loadingViewNote$ | async) || (loadingViewTrainee$ | async)"
			>
				<!-- <div class="row form-group">
          <label for="addNewNote" class="col-auto col-form-label"></label>
          div.col-5
        </div> -->
				<div class="row">
					<div class="col">
						<div class="v-list-m-6 v-list-bordered p-2">
							<!-- <div class="row" *ngIf="traineeDetail.Notes.length === 0">
								<div class="col align-items-center justify-content-center">
									<i>No notes yet</i>
								</div>
							</div> -->
							<div class="row" *ngFor="let note of (traineeDetail$ | async)?.Notes">
								<!-- Need extra col-row due to v-list-m-6 styling 
                prevents > 1 child element -->
								<div class="col">
									<div class="row reputation{{ note.Reputation }}">
										<div class="col-auto" style="width: 40px">
											<div class="font-weight-bold absolute-center">
												{{ note.Reputation }}
											</div>
										</div>
										<div class="col">
											<div class="row">
												<div class="col">
													<quill-view-html [content]="note.Description"></quill-view-html>
												</div>
												<div
													class="col-auto p-2"
													*ngIf="note.SavedBy == (currentUser$ | async).UserName"
												>
													<rd-confirmable-pop-up (confirm)="deleteNote(note)">
														<button class="btn btn-danger">
															<fa-icon [icon]="['far', 'trash-alt']"></fa-icon>
														</button>
													</rd-confirmable-pop-up>
												</div>
											</div>
											<div class="text-right pr-1">
												<span class="font-weight-bold">{{ note.SavedBy }}</span>
												at {{ note.SavedAt | date: viewDateFormat }}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<div class="row" [formGroup]="noteForm">
										<div class="col-9">
											<quill-editor
												theme="bubble"
												[classes]="'bd-1 bd-rad-8px bd-lightgrey'"
												placeholder="Add new notes"
												formControlName="note"
											></quill-editor>
										</div>
										<div class="col-3">
											<div class="row mb-2">
												<div class="col">
													<ng-select
														formControlName="reputation"
														[items]="reputations"
														bindLabel="label"
														bindValue="val"
														class="col"
														[searchable]="false"
														[clearable]="false"
													></ng-select>
												</div>
											</div>
											<div class="row">
												<div class="col">
													<button
														[disabled]="noteForm.invalid"
														(click)="saveNote()"
														class="btn btn-block btn-primary"
													>
														Insert New Note
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- <div class="col col-flex ml-2 bd-left bd-lightgrey">
						<span class="row justify-content-center pr-2 mb-2"><b>Insert new Note</b></span>
						<form class="row">
							<div class="col">
                <div class="row">
                  <div class="col">
                    <textarea
                      name="evalNote"
                      id="evalNote"
                      class="form-control h-100"
                      style="resize: none"
                      placeholder="Notes"
                    ></textarea>
                  </div>
                </div>
                <div class="row">
                  div
                </div>
							</div>
							<div class="col-4 v-list-m-12 col-flex justify-content-center">
								<div class="row">
									<ng-select
										id="evalType"
										name="evalType"
										class="col"
										[searchable]="false"
										[clearable]="false"
									></ng-select>
								</div>
								<div class="row">
									<button type="submit" class="btn btn-block btn-primary">Insert New Note</button>
								</div>
							</div>
						</form>
					</div> -->
				</div>
			</rd-card>
		</div>
	</div>
</div>
