<div class="container-lg">
	<div class="row">
		<div class="col">
			<rd-card [cardTitle]="'Insert Secretariat Attendance IP List'">
				<form>
					<div class="row form-group">
						<textarea
							name="ipListText"
							class="form-control w-100 minh-300px"
							placeholder="ex: 10.22.64.100"
							[formControl]="ipListText"
						></textarea>
					</div>
					<div class="row">
						<p>Note: Each IP is separated by new line</p>
					</div>
					<div class="row">
						<button
							class="btn btn-primary"
							[disabled]="ipListText.invalid"
							(click)="updateIPList()"
						>
							Update
						</button>
					</div>
				</form>
			</rd-card>
		</div>
	</div>
</div>
