<div class="container-lg">
	<div class="row">
		<div class="col-4">
			<rd-card
				[cardTitle]="(editForm$ | async) ? 'Edit Subject' : 'Insert New Subject'"
				[isLoading]="loadingFormSubject$ | async"
			>
				<div rdCardBadges class="" *ngIf="editForm$ | async">
					<button class="btn btn-sm btn-secondary mr-1" (click)="cancelEdit()">
						<fa-icon [icon]="['fas', 'times']"></fa-icon> Cancel
					</button>
				</div>
				<form #subjectForm="ngForm">
					<div class="row form-group">
						<label for="subjectName" class="col-4 col-form-label"> Subject </label>
						<div class="col">
							<input
								type="text"
								class="form-control"
								name="subjectName"
								[ngModel]="(editForm$ | async)?.Name"
								[disabled]="editForm$ | async"
							/>
						</div>
					</div>
					<div class="row form-group" [hidden]="!(editForm$ | async)">
						<label for="maxFileSize" class="col-4 col-form-label"> Max File Size </label>
						<div class="col-5">
							<input
								#fileSizeInput="ngModel"
								type="text"
								class="form-control"
								name="maxFileSize"
								[ngModel]="(editForm$ | async)?.MaxFileSize"
							/>
						</div>
						<div class="col">
							<ng-select
								id="selectFileSize"
								name="selectFileSize"
								[items]="size"
								bindLabel="key"
								[searchable]="false"
								[clearable]="false"
								[ngModel]="currentSize"
								(change)="convertFileSize($event, fileSizeInput)"
							></ng-select>
						</div>
					</div>
					<div class="row form-group" [hidden]="(editForm$ | async)">
						<label for="endDate" class="col-4 col-form-label">Phase</label>
						<div class="col">
							<ng-select
								id="selectPhase"
								name="selectPhase"
								[items]="phases$ | async"
								[clearable]="false"
								bindLabel="Description"
								[bindValue]="'PhaseId'"
								[searchable]="false"
								[ngModel]="(phases$ | async)[0]?.PhaseId"
							></ng-select>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-4"></div>
						<div class="col">
							<div class="custom-control custom-checkbox">
								<input
									type="checkbox"
									class="custom-control-input"
									id="hasPresentation"
									name="hasPresentation"
                  [checked]="(editForm$ | async)?.HasPresentation"
                  ngModel
								/>
								<label class="custom-control-label" for="hasPresentation"> Has Presentation </label>
							</div>
						</div>
					</div>
					<div class="row justify-content-around">
						<button
							class="btn btn-primary"
							*ngIf="!(editForm$ | async)"
							(click)="submitSubjectForm(subjectForm)"
						>
							<fa-icon [icon]="['fas', 'plus']"></fa-icon> Create Subject
						</button>
						<button
							class="btn btn-primary"
							*ngIf="editForm$ | async"
							(click)="submitSubjectForm(subjectForm)"
						>
							<fa-icon [icon]="['fas', 'pen']"></fa-icon> Save
						</button>
						<rd-confirmable-pop-up *ngIf="editForm$ | async" (confirm)="deleteSubject()">
							<button class="btn btn-danger">
								<fa-icon [icon]="['far', 'trash-alt']"></fa-icon> Delete
							</button>
						</rd-confirmable-pop-up>
					</div>
				</form>
			</rd-card>
		</div>
		<div class="col">
			<rd-card [cardTitle]="'Subject in Phase List'" [isLoading]="loadingViewSubject$ | async">
				<div class="row form-group">
					<div class="col-6">
						<ng-select
							id="selectPhase"
							name="selectPhase"
							[items]="phases$ | async"
							[clearable]="false"
							bindLabel="Description"
							[searchable]="false"
							[ngModel]="currentPhase$ | async"
							required
							(change)="currentPhase$.next($event)"
						></ng-select>
					</div>
				</div>
				<table class="table table-sm table-striped table-hover text-center">
					<thead>
						<tr>
							<th>Name</th>
							<th>Has Presentation</th>
							<th>Max. Upload File Size</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngIf="(currentSubjects$ | async)?.length === 0">
							<td colspan="3">No subject yet</td>
						</tr>
						<tr
							*ngFor="let subject of currentSubjects$ | async"
							class="cursor-pointer"
							(click)="selectSubject(subject)"
						>
							<td>{{ subject.Name }}</td>
							<td>{{ subject.HasPresentation ? '&#x2611;' : '&#x2610;' }}</td>
							<td>{{ subject.MaxFileSize | number }} bytes</td>
						</tr>
					</tbody>
				</table>
			</rd-card>
		</div>
	</div>
</div>
