<div class="container">
	<div class="row">
		<div class="col">
			<rd-card
				[cardTitle]="'Insert Interview Questions'"
				[isLoading]="loadingFormInterviewQuestions$ | async"
			>
				<form [formGroup]="formInterviewQuestion">
					<div class="row form-group">
						<label for="questionTitle" class="col-1 col-form-label">Title</label>
						<div class="col">
							<input type="text" class="form-control" formControlName="questionName" />
						</div>
					</div>
					<div class="row form-group">
						<label for="questionText" class="col-1 col-form-label"> Questions </label>
						<div class="col">
							<textarea
								class="form-control"
                style="resize: vertical; width: 100%"
                formControlName="questions"
							></textarea>
						</div>
					</div>
					<div class="row justify-content-around">
						<div class="col-1"></div>
						<div class="col">
							<button
								class="btn btn-primary"
								(click)="submitInterviewQuestionForm()"
								[disabled]="!formInterviewQuestion.valid"
							>
								<fa-icon [icon]="['fas', 'plus']"></fa-icon> Insert
							</button>
						</div>
					</div>
				</form>
			</rd-card>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<rd-card
				[cardTitle]="'Interview Questions List'"
				[isLoading]="loadingViewInterviewQuestions$ | async"
			>
				<div class="row mb-3">
					<div class="col-4">
						<ng-select
							name="selectRole"
							[items]="interviewQuestions$ | async"
							[searchable]="false"
							[clearable]="false"
							bindLabel="InterviewQuestionName"
							[ngModel]="currInterviewQuestion$ | async"
							(change)="currInterviewQuestion$.next($event)"
						></ng-select>
					</div>
				</div>
				<table class="table table-sm table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>English</th>
							<th>Indonesian</th>
							<th>Weight</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngIf="(interviewQuestionDetails$ | async)?.length === 0">
							<td colspan="4" class="text-center">No questions here</td>
						</tr>
						<tr *ngFor="let question of interviewQuestionDetails$ | async">
							<td>{{ question.Number }}.</td>
							<td>{{ question.DescriptionEnglish }}</td>
							<td>{{ question.DescriptionIndonesia }}</td>
							<td>{{ question.Weight }}</td>
						</tr>
					</tbody>
				</table>
			</rd-card>
		</div>
	</div>
</div>
