<div class="container-lg">
	<div class="row">
		<div class="col-4">
			<rd-card [cardTitle]="'Insert User Roles'" [isLoading]="loadingFormUserInRole$ | async">
				<form #insertUserInRoleForm="ngForm">
					<div class="row form-group">
						<label for="selectRole" class="col-4 col-form-label">Roles</label>
						<div class="col">
							<ng-select
								name="selectRole"
								[items]="roles$ | async"
								[searchable]="false"
								[clearable]="false"
								bindLabel="roleName"
								[ngModel]="(roles$ | async)[0]"
							></ng-select>
						</div>
					</div>
					<div class="row form-group">
						<label for="trainerText" class="col-4 col-form-label">Users</label>
						<div class="col">
							<textarea
								name="trainerText"
								id="trainerText"
                class="form-control"
                placeholder="XX00-0 separated by '\n'"
								style="resize: vertical; width: 100%"
								ngModel
							></textarea>
						</div>
					</div>
					<div class="row justify-content-around">
						<button class="btn btn-primary" (click)="submitUserInRoleForm(insertUserInRoleForm)">
							<fa-icon [icon]="['fas', 'plus']"></fa-icon> Insert
						</button>
					</div>
				</form>
			</rd-card>
		</div>
		<div class="col">
			<rd-card [cardTitle]="'User In Roles'" [isLoading]="loadingViewUserInRole$ | async">
				<div class="row form-group">
					<div class="col-6">
						<input
							class="form-control"
              placeholder="Search by initial/roles"
              [formControl]="searchTextControl"
              />
          </div>
        </div>
        <div class="row scrollable-table"  style="height:500px;">
          <table class="table table-sm table-striped table-hover text-center">
            <thead>
              <tr>
                <th>Username</th>
                <th>Roles</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="(userInRolesFiltered$ | async)?.length === 0">
                <td colspan="4">No user...</td>
              </tr>
              <tr *ngFor="let user of userInRolesFiltered$ | async">
                <td>{{ user.UserName }}</td>
                <td>{{ user.Role }}</td>
                <td>
                  <rd-confirmable-pop-up
                    [description]="'Delete ' + user.UserName + '?'"
                    (confirm)="deleteUserInRole(user)"
                  >
                    <button class="btn btn-xs btn-danger">
                      <fa-icon [icon]="['far', 'trash-alt']"></fa-icon> Delete
                    </button>
                  </rd-confirmable-pop-up>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
			</rd-card>
		</div>
	</div>
</div>
