<!-- class="scrollable-table maxh-500px" -->
<div
	[ngClass]="{ 'scrollable-table': this.fixedHeight > 0 }"
	[ngStyle]="{ 'max-height': this.fixedHeight == 0 ? 'unset' : this.fixedHeight + 'px' }"
>
	<table [class]="'rd-data-table table ' + tableClass">
		<thead>
			<tr>
				<th *ngIf="multipleSelectable" width="30">
					<input
						type="checkbox"
						#checkboxAll
						[checked]="doCheckAll"
						(change)="onCheckAllChanged($event)"
					/>
				</th>
				<!-- Loop all column header -->
				<th
					*ngFor="let column of columns; let i = index"
					[id]="'data-table-column-' + i"
					[colSpan]="column.colspan"
					[ngClass]="column.columnClass"
					[class.cursor-pointer]="sortable && column.sortable"
					(click)="column.sortable && sort.emit(column)"
				>
					<ng-container [ngSwitch]="column.headerTemplate == null">
						<ng-container *ngSwitchCase="true">{{ column.label }}</ng-container>
						<rd-column-header-template
							*ngSwitchDefault
							[column]="column"
						></rd-column-header-template>
					</ng-container>
					&nbsp;
					<fa-icon *ngIf="sortable && column.sortable" [icon]="column.faIconArray"></fa-icon>
				</th>
			</tr>
		</thead>
		<tbody>
			<!-- If data is empty -->
			<tr *ngIf="data && data.length === 0">
				<td [colSpan]="tableColSpan" class="data-table__no-data">
					{{ noDataMessage }}
				</td>
			</tr>
			<!-- Loop each row here -->
			<tr
				#rowElement
				*ngFor="let row of data; let rowIdx = index"
				[class.cursor-pointer]="selectable"
				[ngClass]="combineClass(
					{ 'row-active': isRowSelected(row) }, 
					!!conditionalRowClass && conditionalRowClass(row))
				"
				(click)="onClickRow(row)"
			>
				<!-- Add check box here -->
				<td *ngIf="multipleSelectable">
					<input
						type="checkbox"
						[id]="'data-table-check-' + rowIdx"
						[checked]="rowElement.classList.contains('row-active')"
						(change)="onCheckRow($event, row)"
						/>
				</td>

				<!-- Loop cell for each column -->
				<td *ngFor="let column of columns; let colIdx = index" [ngClass]="column.cellClass">

					<!-- If body template exists then use template -->
					<ng-container [ngSwitch]="column.bodyTemplate == null">
						<rd-column-body-template
							*ngSwitchCase="false"
							[column]="column"
							[rowData]="row"
							[rowIndex]="rowIdx"
						></rd-column-body-template>
						
						<ng-container *ngSwitchDefault>
							<!-- If using custom value, then use formulaFunction -->
							<ng-container [ngSwitch]="!!column.formulaFunction">
								<ng-container *ngSwitchCase="true">
									{{column.formulaFunction(data[rowIdx])}}
								</ng-container>
								<ng-container *ngSwitchDefault>
									{{ getDataWithProp(data[rowIdx], column.prop) }}
								</ng-container>
							</ng-container>
						</ng-container>
						
					</ng-container>
				</td>
			</tr>
		</tbody>
	</table>
</div>
