<div class="container-xl">
	<div class="row">
		<div class="col">
			<rd-card
				[cardTitle]="'Insert/Update Interview Schedule'"
				[expanded]="false"
				*ngIf="(currentUser$ | async)?.Role.isAstSpv"
			>
				<div class="row">
					<div class="col">
						<div class="row form-group">
							<label for="selectInterview" class="col-4 col-form-label">Title</label>
							<div class="col">
								<ng-select
									name="selectInterview"
									[items]="interviewQuestions$ | async"
									bindLabel="InterviewQuestionName"
									[searchable]="false"
									[clearable]="false"
									[formControl]="titleSelect"
								></ng-select>
							</div>
						</div>
						<div class="row form-group">
							<div class="col">
								<div class="row">
									<label for="schedules"> Insert multiple schedules </label>
								</div>
								<div class="row">
									<div class="col">
										<textarea
											name="schedules"
											class="form-control minh-200px"
											[formControl]="schedulesText"
										></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<span>The input format must be : </span>
							<span>
								Trainee Code,Interview Date,Start Time, End Time,Location, Main
								Interviewer,Co-Interviewer
								<ul style="margin: 0">
									<li>Trainee number, whose trainee training schedule you wish to set</li>
									<li>Interview date must a general date format</li>
									<li>Start Time, when the interview start</li>
									<li>End Time, when the interview end</li>
									<li>Main Interviewer, the First Interviewer</li>
									<li>Co-Interviewer, the Second Interviewer</li>
									<li>
										For example,
										<ul>
											<li>T001,2011-11-30,15:20,15:50,Sekre 6,ac10-2,aa11-1</li>
											<li>T001,12/31/2011,15:20,15:50,MIPA,ac10-2,aa11-1</li>
										</ul>
									</li>
								</ul>
							</span>
						</div>
					</div>
				</div>
				<div class="row justify-content-around">
					<button class="btn btn-primary" (click)="insertSchedules()">
						<fa-icon [icon]="['fas', 'plus']"></fa-icon> Insert Schedules
					</button>
				</div>
			</rd-card>
			<rd-card
				[cardTitle]="'Interview Schedules'"
				[isLoading]="loadingViewInterviewSchedules$ | async"
				[expanded]="(currentInterviewSchedule$ | async) == null"
			>
				<div rdCardBadges>
					<button class="btn btn-sm btn-secondary" (click)="refreshInterviewSchedules()">
						<fa-icon [icon]="['fas', 'undo-alt']"></fa-icon> Refresh
					</button>
				</div>
				<div class="row pb-2">
					<b>Legends: </b>
					<span class="reject legend"></span> Rej ({{
						(interviewScheduleReport$ | async)?.StatusTotal.Rej
					}}) <span class="pos legend"></span> Pos ({{
						(interviewScheduleReport$ | async)?.StatusTotal.Pos
					}}) <span class="acc legend"></span> Acc ({{
						(interviewScheduleReport$ | async)?.StatusTotal.Acc
					}})
				</div>
				<div class="row">
					<table class="table table-sm table-striped table-bordered text-center">
						<thead>
							<tr>
								<th>Traiee Code</th>
								<th>Trainee Name</th>
								<th>Interview Date</th>
								<th>Time</th>
								<th>Location</th>
								<th>Main Interviewer</th>
								<th>Co-Interviewer</th>
								<th>Interview Score</th>
								<th>Status</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngIf="(filteredInterviewSchedules$ | async)?.length === 0">
								<td class="p-3" colspan="10">No schedules yet</td>
							</tr>
							<tr
								*ngFor="let interview of filteredInterviewSchedules$ | async"
								class="cursor-pointer"
								(click)="showInterviewResult(interview)"
							>
								<td>{{ interview.TraineeCode }}</td>
								<td>{{ interview.TraineeName }}</td>
								<td>{{ interview.InterviewDate | date: interviewDateFormat }}</td>
								<td>{{ interview.startToEndTime }}</td>
								<!-- Create a short link if location is link -->
								<ng-container [ngSwitch]="isLocationLink(interview.Location)">
									<td *ngSwitchCase="true">
										<a [href]="interview.Location">Link here</a>
									</td>
									<td *ngSwitchDefault>{{ interview.Location }}</td>
								</ng-container>
								<td>{{ interview.MainInterviewer }}</td>
								<td>{{ interview.CoInterviewer }}</td>
								<td>{{ interview.InterviewScore }}</td>
								<td [class]="statusClass[interview.Result]">
									{{ interview.Result }}
								</td>
								<td>
									<rd-confirmable-pop-up
										[title]="'Delete interview for ' + interview.TraineeName + '?'"
										[description]="deleteReasonTemplate"
										[canConfirm]="deleteReasonText.valid"
										(confirm)="deleteSchedule(interview)"
										(cancel)="deleteReasonText.reset()"
									>
										<ng-template #deleteReasonTemplate>
											<textarea
												class="form-control"
												[formControl]="deleteReasonText"
												placeholder="Input reasons here..."
												cols="30"
												rows="4"
											></textarea>
										</ng-template>
										<button class="btn btn-danger btn-sm">
											<fa-icon [icon]="['far', 'trash-alt']"></fa-icon> Delete
										</button>
									</rd-confirmable-pop-up>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</rd-card>
			<rd-card
				[cardTitle]="'Interview Detail'"
				[isLoading]="loadingFormInterviewResult$ | async"
				[expanded]="(currentInterviewSchedule$ | async) != null"
				[formGroup]="interviewResultForm"
			>
				<div class="row mb-3">
					<div class="col" style="flex: 0 0 200px">
						<img [src]="(currentInterviewResult$ | async)?.thumbnailLink(200)" />
					</div>
					<div class="col">
						<div class="row">
							<div class="col-4">
								<div>No. Pendaftaran</div>
								<small><i>Registration Number</i></small>
							</div>
							<div class="col">: {{ (currentInterviewResult$ | async)?.RegistrationCode }}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<div>NIM</div>
								<small><i>Binusian ID</i></small>
							</div>
							<div class="col">: {{ (currentInterviewResult$ | async)?.TraineeNumber }}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<div>No. Trainee</div>
								<small><i>Trainee Number</i></small>
							</div>
							<div class="col">: {{ (currentInterviewResult$ | async)?.TraineeCode }}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<div>Nama Trainee</div>
								<small><i>Trainee Name</i></small>
							</div>
							<div class="col">: {{ (currentInterviewResult$ | async)?.TraineeName }}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<div>Jurusan</div>
								<small><i>Major</i></small>
							</div>
							<div class="col">: {{ (currentInterviewResult$ | async)?.Major }}</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col-4">
								<div>Tanggal Wawancara</div>
								<small><i>Interview Date</i></small>
							</div>
							<div class="col">
								: {{ (currentInterviewResult$ | async)?.InterviewDate | date: interviewDateFormat }}
							</div>
						</div>
						<div class="row">
							<div class="col-4">
								<div>Waktu Mulai</div>
								<small><i>Start Time</i></small>
							</div>
							<div class="col">: {{ (currentInterviewResult$ | async)?.StartTime }}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<div>Waktu Selesai</div>
								<small><i>End Time</i></small>
							</div>
							<div class="col">: {{ (currentInterviewResult$ | async)?.EndTime }}</div>
						</div>
						<div class="row">
							<div class="col-4">
								<div>Tempat Wawancara</div>
								<small><i>Location</i></small>
							</div>
							<div
								class="col"
								[ngSwitch]="isLocationLink((currentInterviewResult$ | async)?.Location || '')"
							>
								<span *ngSwitchCase="true">
									: <a [href]="(currentInterviewResult$ | async)?.Location">Link here</a>
								</span>
								<span *ngSwitchDefault>: {{ (currentInterviewResult$ | async)?.Location }}</span>
							</div>
						</div>
						<div class="row">
							<div class="col-4">
								<div>Pewawancara</div>
								<small><i>Interviewer</i></small>
							</div>
							<div class="col">
								: {{ (currentInterviewResult$ | async)?.MainInterviewer }} <br />
								&nbsp;
								{{ (currentInterviewResult$ | async)?.CoInterviewer }}
							</div>
						</div>
					</div>
				</div>
				<div class="row mb-3">
					<table class="table table-striped table-bordered text-center">
						<thead>
							<tr>
								<th rowspan="2" class="text-middle">
									Nomor <br />
									<small><i>Number</i></small>
								</th>
								<th rowspan="2" class="text-middle">
									Keterangan <br />
									<small><i>Information</i></small>
								</th>
								<th rowspan="2" class="text-middle">
									Bobot Nilai <br />
									<small><i>Score Weight</i></small>
								</th>
								<th colspan="5" class="text-middle">
									Nilai <br />
									<small><i>Score</i></small>
								</th>
								<th rowspan="2" class="text-middle">
									Total Nilai <br />
									(bobot x nilai) <br />
									<small>
										<i>Total Score <br />(weight x score)</i>
									</small>
								</th>
							</tr>
							<tr>
								<th class="text-middle">
									Sangat Kurang <br />
									<small><i>Very Poor</i></small>
								</th>
								<th class="text-middle">
									Kurang <br />
									<small><i>Poor</i></small>
								</th>
								<th class="text-middle">
									Cukup <br />
									<small><i>Fair</i></small>
								</th>
								<th class="text-middle">
									Baik <br />
									<small><i>Good</i></small>
								</th>
								<th class="text-middle">
									Sangat Baik <br />
									<small><i>Very Good</i></small>
								</th>
							</tr>
						</thead>
						<tbody formArrayName="Questions">
							<tr *ngFor="let qst of (currentInterviewResult$ | async)?.Questions; let i = index">
								<td class="text-middle">{{ qst.Number }}</td>
								<td class="text-left">
									{{ qst.DescriptionIndonesia }} <br />
									<i>{{ qst.DescriptionEnglish }}</i>
								</td>
								<td>{{ qst.Weight }}</td>
								<td [class.bg-red]="qst.Value == 0 && qst.Value != QuestionsFormArr.at(i).value">
									<input type="radio" value="0" [formControlName]="i" class="table-radio" />
								</td>
								<td [class.bg-red]="qst.Value == 1 && qst.Value != QuestionsFormArr.at(i).value">
									<input type="radio" value="1" [formControlName]="i" class="table-radio" />
								</td>
								<td [class.bg-red]="qst.Value == 2 && qst.Value != QuestionsFormArr.at(i).value">
									<input type="radio" value="2" [formControlName]="i" class="table-radio" />
								</td>
								<td [class.bg-red]="qst.Value == 3 && qst.Value != QuestionsFormArr.at(i).value">
									<input type="radio" value="3" [formControlName]="i" class="table-radio" />
								</td>
								<td [class.bg-red]="qst.Value == 4 && qst.Value != QuestionsFormArr.at(i).value">
									<input type="radio" value="4" [formControlName]="i" class="table-radio" />
								</td>
								<td>{{ QuestionsFormArr.at(i).value * qst.Weight }}</td>
							</tr>
							<tr>
								<td colspan="9">&nbsp;</td>
							</tr>
							<tr>
								<td colspan="5" rowspan="2" style="text-align: left; vertical-align: bottom">
									<span class="mr-3"><b>Keterangan Nilai:</b></span>
									<span class="mr-3" *ngFor="let g of grades">
										<b>{{ g.grade }}</b> : {{ g.min }} - {{ g.max }}
									</span>
									<br />
									<span><i>Score Information</i></span>
								</td>
								<td colspan="3" class="text-right">
									Jumlah <br />
									<i>Total</i>
								</td>
								<td class="font-x-large">{{ total$ | async }}</td>
							</tr>
							<tr>
								<td colspan="3" class="text-right">
									Peringkat <br />
									<i>Grade</i>
								</td>
								<td class="font-x-large">{{ grade$ | async }}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="row mb-3">
					<div class="col">
						<div class="row">
							<div class="col text-center">
								<b>Kepribadian positif yang dapat menunjang pekerjaannya</b> <br />
								<i>Positive attitude that can support his/her job</i>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<textarea class="form-control minh-150px" formControlName="AttitudeNote"></textarea>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col text-center">
								<b>Area yang perlu dikembangkan (Keterampilan / Kepribadian)</b> <br />
								<i>Development area (skill / personality)</i>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<textarea
									class="form-control minh-150px"
									formControlName="DevelopmentNote"
								></textarea>
							</div>
						</div>
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-4">
						<div class="row">
							<div class="col text-center">
								<b>Komentar Lainnya</b> <br />
								<i>Other Comments</i>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<textarea class="form-control minh-250px" formControlName="Note"></textarea>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row mb-3">
							<div class="col text-center">
								<b>Kesimpulan</b> <br />
								<i>Summary</i>
							</div>
						</div>
						<div class="row mb-2">
							<div class="col">
								<div class="row">
									<div class="col-auto p-1">
										<input
											type="radio"
											value="Very Poor"
											formControlName="Summary"
											id="summary_veryPoor"
										/>
									</div>
									<label class="col" for="summary_veryPoor">
										<b>Sangat Kurang</b> <br />
										<i>Very Poor</i>
									</label>
								</div>
							</div>
							<div class="col">
								<div class="row">
									<div class="col-auto p-1">
										<input type="radio" value="Poor" formControlName="Summary" id="summary_poor" />
									</div>
									<label class="col" for="summary_poor">
										<b>Kurang</b> <br />
										<i>Poor</i>
									</label>
								</div>
							</div>
							<div class="col">
								<div class="row">
									<div class="col-auto p-1">
										<input type="radio" value="Fair" formControlName="Summary" id="summary_fair" />
									</div>
									<label class="col" for="summary_fair">
										<b>Cukup</b> <br />
										<i>Fair</i>
									</label>
								</div>
							</div>
							<div class="col">
								<div class="row">
									<div class="col-auto p-1">
										<input type="radio" value="Good" formControlName="Summary" id="summary_good" />
									</div>
									<label class="col" for="summary_good">
										<b>Baik</b> <br />
										<i>Good</i>
									</label>
								</div>
							</div>
							<div class="col">
								<div class="row">
									<div class="col-auto p-1">
										<input
											type="radio"
											value="Very Good"
											formControlName="Summary"
											id="summary_veryGood"
										/>
									</div>
									<label class="col" for="summary_veryGood">
										<b>Baik Sekali</b> <br />
										<i>Very Good</i>
									</label>
								</div>
							</div>
						</div>
						<div class="row mb-2">
							<label class="col text-center">
								<b>Hasil Penilaian</b> <br />
								<i>Scoring Result</i>
							</label>
						</div>
						<div class="row">
							<div class="col"></div>
							<div class="col-auto">
								<div class="row">
									<div class="col-auto p-1">
										<input
											type="radio"
											value="Accepted"
											formControlName="Decision"
											id="decision_Acc"
										/>
									</div>
									<label class="col" for="decision_Acc">
										<b>Baik, proses dilanjutkan ke tahap berikutnya</b> <br />
										<i>Good, process is continued to next assessment</i>
									</label>
								</div>
								<div class="row">
									<div class="col-auto p-1">
										<input
											type="radio"
											value="Postponed"
											formControlName="Decision"
											id="decision_Pos"
										/>
									</div>
									<label class="col" for="decision_Pos">
										<b>Cadangan</b> <br />
										<i>Alternative</i>
									</label>
								</div>
								<div class="row">
									<div class="col-auto p-1">
										<input
											type="radio"
											value="Rejected"
											formControlName="Decision"
											id="decision_Rej"
										/>
									</div>
									<label class="col" for="decision_Rej">
										<b>Tidak baik, proses tidak dilanjutkan</b> <br />
										<i>Not good, process is not continued</i>
									</label>
								</div>
							</div>
							<div class="col"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col content-bottom">
						<span>
							Interview has been saved by <b>{{ (currentInterviewResult$ | async)?.SavedBy }}</b> at
							<b>{{ (currentInterviewResult$ | async)?.SavedAt | date: savedAtFormat }}</b>
						</span>
					</div>
					<div class="col-auto">
						<button
							class="btn btn-primary mr-2"
							[disabled]="interviewResultForm.pristine"
							(click)="save()"
						>
							<fa-icon [icon]="['fas', 'pen']"></fa-icon> Save
						</button>
						<button class="btn bg-excel mr-2" (click)="print()">
							<fa-icon [icon]="['fas', 'file-download']"></fa-icon> Print
						</button>
						<button
							class="btn btn-secondary"
							[disabled]="interviewResultForm.pristine"
							(click)="cancel()"
						>
							<fa-icon [icon]="['fas', 'times']"></fa-icon> Cancel
						</button>
					</div>
				</div>
			</rd-card>
		</div>
	</div>
</div>
