:host {
	.reject {
		background-color: red;
		color: white;
	}

	.pos {
		background-color: yellow;
		color: black;
	}

	.acc {
		background-color: green;
		color: white;
	}

	.legend {
		border: 1px solid rgba(0, 0, 0, 0.1);
		display: inline-block;
		width: 20px;
		height: 20px;
		margin: 0 4px 0 10px;
	}
}
