<div class="container-xl">
	<div class="row">
		<div class="col">
			<rd-card [cardTitle]="'Insert/Update Interview Schedule'">
				<div class="row">
					<div class="col">
						<div class="row form-group">
							<label for="selectInterview" class="col-4 col-form-label">Title</label>
							<div class="col">
								<ng-select
									name="selectInterview"
									[items]="interviewQuestions$ | async"
									bindLabel="InterviewQuestionName"
									[searchable]="false"
									[clearable]="false"
									[formControl]="titleSelect"
								></ng-select>
							</div>
						</div>
						<div class="row form-group">
							<div class="col">
								<div class="row">
									<label for="schedules"> Insert multiple schedules </label>
								</div>
								<div class="row">
									<div class="col">
										<textarea
											name="schedules"
											class="form-control minh-200px"
											[formControl]="schedulesText"
										></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<span>The input format must be : </span>
							<span>
								Trainee Code,Interview Date,Start Time, End Time,Location, Main
								Interviewer,Co-Interviewer
								<ul style="margin: 0">
									<li>Trainee number, whose trainee training schedule you wish to set</li>
									<li>Interview date must a general date format</li>
									<li>Start Time, when the interview start</li>
									<li>End Time, when the interview end</li>
									<li>Main Interviewer, the First Interviewer</li>
									<li>Co-Interviewer, the Second Interviewer</li>
									<li>
										For example,
										<ul>
											<li>T001,2011-11-30,15:20,15:50,Sekre 6,ac10-2,aa11-1</li>
											<li>T001,12/31/2011,15:20,15:50,MIPA,ac10-2,aa11-1</li>
										</ul>
									</li>
								</ul>
							</span>
						</div>
					</div>
				</div>
				<div class="row justify-content-around">
					<button class="btn btn-primary" (click)="insertSchedules()">
						<fa-icon [icon]="['fas', 'plus']"></fa-icon> Insert Schedules
					</button>
				</div>
			</rd-card>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<rd-card
				[cardTitle]="'Interview Schedules'"
				[isLoading]="loadingViewInterviewSchedules$ | async"
			>
				<div class="row pb-2">
					<b>Legends: </b>
					<span class="reject legend"></span> Rej ({{
						(interviewScheduleReport$ | async)?.StatusTotal.Rej
					}}) <span class="pos legend"></span> Pos ({{
						(interviewScheduleReport$ | async)?.StatusTotal.Pos
					}}) <span class="acc legend"></span> Acc ({{
						(interviewScheduleReport$ | async)?.StatusTotal.Acc
					}})
				</div>
				<div class="row justify-content-end">
					<span class="font-italic"
						>Note: Utk skrg blum bisa kasih reason waktu delete schedule</span
					>
				</div>
				<div class="row">
					<table class="table table-sm table-striped table-bordered text-center">
						<thead>
							<tr>
								<th>Traiee Code</th>
								<th>Trainee Name</th>
								<th>Interview Date</th>
								<th>Time</th>
								<th>Location</th>
								<th>Main Interviewer</th>
								<th>Co-Interviewer</th>
								<th>Interview Score</th>
								<th>Status</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngIf="(interviewScheduleReport$ | async)?.Schedules.length === 0">
								<td class="p-3" colspan="10">No schedules yet</td>
							</tr>
							<tr
								*ngFor="let interview of (interviewScheduleReport$ | async)?.Schedules"
								class="cursor-pointer"
							>
								<td>{{ interview.TraineeCode }}</td>
								<td>{{ interview.TraineeName }}</td>
								<td>{{ interview.InterviewDate | date: 'EEEE, MMM dd' }}</td>
								<td>{{ interview.startToEndTime }}</td>
								<!-- Create a short link if location is link -->
								<ng-container [ngSwitch]="isLocationLink(interview.Location)">
									<td *ngSwitchCase="true">
										<a [href]="interview.Location">Link here</a>
									</td>
									<td *ngSwitchDefault>{{ interview.Location }}</td>
								</ng-container>
								<td>{{ interview.MainInterviewer }}</td>
								<td>{{ interview.CoInterviewer }}</td>
								<td>{{ interview.InterviewScore }}</td>
								<td [class]="statusClass[interview.Result]">
									{{ interview.Result }}
								</td>
								<td>
									<rd-confirmable-pop-up
                    [title]="'Delete interview for ' + interview.TraineeName + '?'"
                    [description]="deleteReasonTemplate"
										[canConfirm]="deleteReasonText.valid"
										(confirm)="deleteSchedule(interview)"
										(cancel)="deleteReasonText.reset()"
									>
										<ng-template #deleteReasonTemplate>
											<textarea
												class="form-control"
												[formControl]="deleteReasonText"
												placeholder="Input reasons here..."
												cols="30"
												rows="4"
											></textarea>
										</ng-template>
										<button class="btn btn-danger btn-sm">
											<fa-icon [icon]="['far', 'trash-alt']"></fa-icon> Delete
										</button>
									</rd-confirmable-pop-up>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</rd-card>
		</div>
	</div>
</div>
