<div class="container-xl">
	<div class="row">
		<div class="col-4">
			<rd-card
				[cardTitle]="
					isEditing ? 'Edit Schedule' : 'Insert New Schedule - ' + (viewCurrSubject$ | async)?.Name
				"
			>
				<div rdCardBadges class="" *ngIf="isEditing">
					<button class="btn btn-sm btn-secondary" (click)="cancelEdit()">
						<fa-icon [icon]="['fas', 'times']"></fa-icon> Cancel
					</button>
				</div>
				<form [formGroup]="scheduleForm">
					<!-- <div class="row form-group">
						<label class="col-4 col-form-label"> Phase </label>
						<div class="col">
							<ng-select
								[items]="phases$ | async"
								[clearable]="false"
								placeholder="Phase"
								bindLabel="Description"
								[searchable]="false"
								formControlName="phase"
							></ng-select>
						</div>
					</div>
					<div class="row form-group">
						<label class="col-4 col-form-label"> Subject </label>
						<div class="col">
							<ng-select
								[items]="formSubjectList$ | async"
								[clearable]="false"
								placeholder="Subject"
								bindLabel="Name"
								bindValue="SubjectId"
								[searchable]="false"
								formControlName="subjectId"
							></ng-select>
						</div>
					</div> -->
					<div class="row form-group">
						<label class="col-4 col-form-label"> Schedule Type </label>
						<div class="col col-form-label">
							<div class="custom-control custom-radio">
								<input
									type="radio"
									id="dailyRadio"
									class="custom-control-input"
									value="daily"
									formControlName="scheduleType"
								/>
								<label class="custom-control-label" for="dailyRadio"> Daily </label>
							</div>
							<!-- <div class="custom-control custom-radio">
								<input
									type="radio"
									id="specificRadio"
									name="scheduleTypeRadio"
									class="custom-control-input"
									value="specific"
                  formControlName="scheduleType"
                  disabled
                  />
								<label class="custom-control-label"> Specific </label>
							</div> -->
						</div>
					</div>
					<div class="row form-group">
						<label class="col-4 col-form-label"> Schedule Name </label>
						<div class="col">
							<input type="text" class="form-control" formControlName="scheduleName" />
						</div>
					</div>
					<div class="row form-group">
						<label class="col-4 col-form-label"> Schedule Count </label>
						<div class="col-3">
							<input type="number" min="1" class="form-control" formControlName="scheduleCount" />
						</div>
						<!-- <div class="col" *ngIf="scheduleTypeRadio.value === 'specific'">
							<div class="custom-control custom-checkbox">
								<input
									type="checkbox"
									id="canSelfRegisterCheck"
									name="canSelfRegisterCheck"
									class="custom-control-input"
									value="canSelfRegister"
								/>
								<label class="custom-control-label">
									Can Self-Register
								</label>
							</div>
						</div> -->
					</div>
					<div class="row form-group" formArrayName="scheduleDates">
						<div class="row" *ngFor="let date of scheduleDates.controls; let i = index">
							<label class="col-4 col-form-label">
								{{ i == 0 ? 'Schedule Date' : '' }}
							</label>
							<div class="col">
								<!-- form.value will ignore the disabled value 
                without having to remove it -->
								<input type="date" class="form-control" [formControlName]="i" />
								<!-- [formControl]="scheduleDates.controls[i]" -->
							</div>
						</div>
					</div>
					<!-- <div class="row form-group" *ngIf="scheduleTypeRadio.value === 'specific'">
						<label class="col-4 col-form-label"> Start </label>
						<div class="col">
							<input type="date" class="form-control" name="scheduleStart" />
						</div>
					</div>
					<div class="row form-group" *ngIf="scheduleTypeRadio.value === 'specific'">
						<label class="col-4 col-form-label"> End </label>
						<div class="col">
							<input type="date" class="form-control" name="scheduleEnd" />
						</div>
					</div>
					<div class="row form-group" *ngIf="scheduleTypeRadio.value === 'specific'">
						<label class="col-3 col-form-label"> Meeting per week </label>
						<div class="col-3">
							<input
								type="number"
								class="form-control"
								name="meetingPerWeek"
								[(ngModel)]="meetingPerWeek"
								(change)="updateMeetingForm()"
							/>
						</div>
						<label class="col-3 col-form-label"> Variations </label>
						<div class="col-3">
							<input
								type="number"
								class="form-control"
								name="variations"
								[(ngModel)]="variations"
								(change)="updateMeetingForm()"
							/>
						</div>
					</div> -->
					<!-- <div
						class="v-list-m-6 v-list-bordered border-lightgrey border-full-solid border-rad-8 p-2"
						*ngIf="meetings.length > 0"
					>
						<div *nmeeting of meetings">
							<h6>
								Meeting {{ meeting.MeetingNo + 1 }} - Var
								{{ meeting.VariationNo + 1 }}
							</h6>
							<div class="row" *ndetail of meeting.Detail">
								<div class="row form-group">
									<label class="col-4 col-form-label col-form-label-sm"> Date </label>
									<div class="col">
										<input
											type="date"
											class="form-control form-control-sm"
											[(ngModel)]="detail.ScheduleDate"
											[ngModelOptions]="{ standalone: true }"
										/>
									</div>
								</div>
								<div class="row form-group">
									<label class="col-4 col-form-label col-form-label-sm"> Shift </label>
									<div class="col-3">
										<input
											type="number"
											class="form-control form-control-sm"
											value="1"
											min="1"
											max="7"
											[(ngModel)]="detail.ShiftStart"
											[ngModelOptions]="{ standalone: true }"
										/>
									</div>
									<label class="col-2 col-form-label col-form-label-sm"> Until: </label>
									<div class="col-3">
										<input
											type="number"
											class="form-control form-control-sm"
											value="1"
											min="1"
											max="7"
											[(ngModel)]="detail.ShiftEnd"
											[ngModelOptions]="{ standalone: true }"
										/>
									</div>
								</div>
							</div>
							<div class="row form-group">
								<label class="col-4 col-form-label col-form-label-sm"> Room </label>
								<div class="col">
									<input
										class="form-control form-control-sm"
										[(ngModel)]="meeting.Room"
										[ngModelOptions]="{ standalone: true }"
									/>
								</div>
							</div>
							<div class="row form-group">
								<label class="col-4 col-form-label col-form-label-sm"> Capacity </label>
								<div class="col">
									<input
										class="form-control form-control-sm"
										[(ngModel)]="meeting.Capacity"
										[ngModelOptions]="{ standalone: true }"
									/>
								</div>
							</div>
						</div>
					</div> -->
					<!-- <div class="row justify-content-around">
						<button class="btn btn-primary">
							<fa-icon [icon]="['fas', 'plus']"></fa-icon> Insert Schedule
						</button>
          </div> -->
					<div class="row justify-content-around mt-2">
						<button
							class="btn btn-primary"
							*ngIf="!isEditing"
							[disabled]="!scheduleForm.valid"
							(click)="submitScheduleForm()"
						>
							<fa-icon [icon]="['fas', 'plus']"></fa-icon> Create
						</button>
						<rd-confirmable-pop-up
							*ngIf="isEditing"
							[description]="deleteReasonTemplate"
							[title]="'Delete Schedule ' + scheduleForm.value['scheduleName'] + '?'"
							[canConfirm]="scheduleForm.value['deleteReason'] !== ''"
							(confirm)="deleteSchedule()"
						>
							<ng-template #deleteReasonTemplate>
								<textarea
									class="form-control"
									formControlName="deleteReason"
									placeholder="Input reasons here..."
									cols="30"
									rows="4"
								></textarea>
							</ng-template>
							<button class="btn btn-danger">
								<fa-icon [icon]="['far', 'trash-alt']"></fa-icon> Delete
							</button>
						</rd-confirmable-pop-up>
					</div>
				</form>
			</rd-card>
			<rd-card
				[cardTitle]="'Insert Trainee into Schedule - ' + (viewCurrSchedule$ | async)?.ScheduleName"
			>
				<form [formGroup]="insertTraineeInScheduleForm">
					<!-- <div class="row form-group">
						<label class="col-4 col-form-label">Phase</label>
						<div class="col">
							<ng-select
								[items]="phases$ | async"
								[clearable]="false"
								bindLabel="Description"
								placeholder="Phase"
								[searchable]="false"
								formControlName="phase"
							></ng-select>
						</div>
					</div>
					<div class="row form-group">
						<label class="col-4 col-form-label">Subject</label>
						<div class="col">
							<ng-select
								[items]="insertTraineeSubjectList$ | async"
								[clearable]="false"
								bindLabel="Name"
								placeholder="Subject"
								[searchable]="false"
								formControlName="subject"
							></ng-select>
						</div>
					</div>
					<div class="row form-group">
						<label class="col-4 col-form-label">Schedule</label>
						<div class="col">
							<ng-select
								[items]="insertTraineeScheduleList$ | async"
								[clearable]="false"
								bindLabel="ScheduleName"
								placeholder="Schedule"
								[searchable]="false"
								formControlName="schedule"
							></ng-select>
						</div>
					</div> -->
					<div class="row form-group">
						<label class="col-4 col-form-label">Trainee</label>
						<div class="col">
							<textarea
								class="form-control vertical-text-area minh-200px"
								formControlName="binusianNumbers"
							></textarea>
						</div>
					</div>
					<div class="row justify-content-around">
						<button class="btn btn-primary" (click)="insertTraineeInSchedule()">
							<fa-icon [icon]="['fas', 'plus']"></fa-icon> Insert Trainee(s)
						</button>
					</div>
				</form>
			</rd-card>
		</div>
		<div class="col">
			<rd-card [cardTitle]="'Schedule in Subject'" [isLoading]="loadingViewSchedule$ | async">
				<div rdCardBadges>
					<rd-confirmable-pop-up
						(confirm)="deleteAllSchedule()"
						[title]="'Delete All Schedule?'"
						[description]="deleteAllReasonTemplate"
						[canConfirm]="deleteAllReason.valid"
						*ngIf="(viewScheduleList$ | async)?.length > 0"
					>
						<ng-template #deleteAllReasonTemplate>
							<textarea
								class="form-control"
								placeholder="Reasons to delete all..."
								cols="30"
								rows="4"
								[formControl]="deleteAllReason"
							></textarea>
						</ng-template>
						<button class="btn btn-sm btn-danger">
							<fa-icon [icon]="['far', 'trash-alt']"></fa-icon> Delete All Schedule
						</button>
					</rd-confirmable-pop-up>
				</div>
				<div class="row form-group">
					<div class="col">
						<ng-select
							id="selectPhase"
							name="selectPhase"
							[items]="phases$ | async"
							[clearable]="false"
							bindLabel="Description"
							[searchable]="false"
							[ngModel]="viewCurrPhase$ | async"
							(change)="viewCurrPhase$.next($event)"
						></ng-select>
					</div>
					<div class="col">
						<ng-select
							id="selectSubject"
							name="selectSubject"
							[items]="viewSubjectList$ | async"
							[clearable]="false"
							bindLabel="Name"
							[searchable]="false"
							[ngModel]="viewCurrSubject$ | async"
							(change)="viewCurrSubject$.next($event)"
						></ng-select>
					</div>
				</div>
				<div class="row">
					<table class="table table-sm table-striped table-hover text-center">
						<thead>
							<tr>
								<th>Name</th>
								<th>Type</th>
								<th>Schedule Date</th>
								<th>Self Register</th>
								<th>Start Registration</th>
								<th>End Registration</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngIf="(viewScheduleList$ | async)?.length === 0">
								<td class="p-3" colspan="6">No schedules yet</td>
							</tr>
							<tr
								*ngFor="let schedule of viewScheduleList$ | async"
								class="cursor-pointer"
								(click)="selectSchedule(schedule)"
							>
								<td>{{ schedule.ScheduleName }}</td>
								<td>{{ schedule.scheduleType }}</td>
								<td>{{ schedule.ScheduleDates[0] | date: viewDateFormat }}</td>
								<td>{{ schedule.CanSelfRegister || '-' }}</td>
								<td>{{ (schedule.Start | date: viewDateFormat) || '-' }}</td>
								<td>{{ (schedule.End | date: viewDateFormat) || '-' }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</rd-card>
			<rd-card
				[cardTitle]="'Trainee In Schedule'"
				[isLoading]="loadingViewTraineeInSchedule$ | async"
			>
				<div class="row form-group">
					<div class="col-6">
						<ng-select
							id="selectSchedule"
							name="selectSchedule"
							[items]="viewScheduleList$ | async"
							[clearable]="false"
							bindLabel="ScheduleName"
							[searchable]="false"
							[ngModel]="viewCurrSchedule$ | async"
							(change)="viewCurrSchedule$.next($event)"
						></ng-select>
					</div>
				</div>
				<div class="row">
					<table class="table table-sm table-striped text-center">
						<thead>
							<tr>
								<th width="70">Trainee</th>
								<th width="150">Binusian Number</th>
								<th>Name</th>
								<th width="80">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngIf="(traineeInSchedule$ | async)?.length === 0">
								<td colspan="4">No trainees in this schedule</td>
							</tr>
							<tr *ngFor="let trainee of traineeInSchedule$ | async">
								<td>{{ trainee.TraineeCode }}</td>
								<td>{{ trainee.TraineeNumber }}</td>
								<td>{{ trainee.TraineeName }}</td>
								<td>
									<rd-confirmable-pop-up
										[description]="'Delete ' + trainee.TraineeName + '?'"
										(confirm)="deleteTrainee(trainee)"
									>
										<button class="btn btn-xs btn-danger">
											<fa-icon [icon]="['far', 'trash-alt']"></fa-icon> Delete
										</button>
									</rd-confirmable-pop-up>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</rd-card>
		</div>
	</div>
</div>
