<div class="container">
	<div class="row">
		<div class="col-4">
			<rd-card [cardTitle]="editForm ? 'Edit Schedule' : 'Insert New Schedule'">
        <div rdCardBadges class="" *ngIf="editForm">
					<button
						class="btn btn-sm btn-secondary mr-1"
						(click)="onCancelEdit()"
					>
						<fa-icon [icon]="['fas', 'times']"></fa-icon> Cancel
					</button>
				</div>
				<form>
					<!-- <div class="row form-group">
						<label for="selectPhaseType" class="col-4 col-form-label"
							>Phase Type</label
						>
						<div class="col">
							<ng-select
								id="selectPhaseType"
								name="selectPhaseType"
								[items]="phaseTypes"
								[clearable]="false"
								[bindLabel]="'val'"
								[bindValue]="'key'"
								[searchable]="false"
								[ngModel]="phaseTypes[0].key"
							></ng-select>
						</div>
					</div> -->
					<div class="row form-group">
						<label for="selectPhase" class="col-4 col-form-label">
							Phase
						</label>
						<div class="col">
							<ng-select
								id="selectPhase"
								name="selectPhase"
								[items]="phases$ | async"
								[clearable]="false"
								[bindLabel]="'Description'"
								[bindValue]="'PhaseId'"
								[searchable]="false"
								[ngModel]="(phases$ | async)[0]?.PhaseId"
							></ng-select>
						</div>
					</div>
					<div class="row form-group">
						<label for="selectSubject" class="col-4 col-form-label">
							Subject
						</label>
						<div class="col">
							<ng-select
								id="selectSubject"
								name="selectSubject"
								[items]="subjects$ | async"
								[clearable]="false"
								[bindLabel]="'Name'"
								[bindValue]="'SubjectId'"
								[searchable]="false"
								[ngModel]="(subjects$ | async)[0]?.SubjectId"
							></ng-select>
						</div>
					</div>
					<div class="row form-group">
						<label class="col-4 col-form-label">
							Schedule Type
						</label>
						<div class="col">
							<div class="custom-control custom-radio">
								<input
									type="radio"
									id="dailyRadio"
									name="scheduleTypeRadio"
									class="custom-control-input"
								/>
								<label class="custom-control-label" for="dailyRadio">
									Daily
								</label>
							</div>
							<div class="custom-control custom-radio">
								<input
									type="radio"
									id="specificRadio"
									name="scheduleTypeRadio"
									class="custom-control-input"
								/>
								<label class="custom-control-label" for="specificRadio">
									Specific
								</label>
							</div>
						</div>
					</div>
					<div class="row form-group">
						<label for="endDate" class="col-4 col-form-label">
              Schedule Name
            </label>
						<div class="col">
							<input type="text" class="form-control" name="scheduleName" />
						</div>
					</div>
					<div class="row form-group">
						<label for="endDate" class="col-4 col-form-label">
              Schedule Count
            </label>
						<div class="col">
							<input type="number" class="form-control" name="scheduleCount" />
						</div>
					</div>
					<!-- <div class="row justify-content-around">
						<button class="btn btn-primary">
							<fa-icon [icon]="['fas', 'plus']"></fa-icon> Insert Schedule
						</button>
          </div> -->
					<div class="row justify-content-around mt-2">
						<button type="submit" class="btn btn-primary" *ngIf="!editForm">
							<fa-icon [icon]="['fas', 'plus']"></fa-icon> Create
						</button>
						<button
							class="btn btn-primary"
							(click)="onClick()"
							*ngIf="editForm"
						>
							<fa-icon [icon]="['fas', 'pen']"></fa-icon> Save Changes
						</button>
						<rd-confirmable-button
							*ngIf="editForm"
							(confirm)="onDeleteSchedule()"
						>
							<button class="btn btn-danger">
								<fa-icon [icon]="['far', 'trash-alt']"></fa-icon> Delete
							</button>
						</rd-confirmable-button>
					</div>
				</form>
			</rd-card>
			<rd-card [cardTitle]="'Insert Trainee in Schedule'">
				<form>
					<!-- <div class="row form-group">
						<label for="selectphaseType" class="col-4 col-form-label"
							>Phase Type</label
						>
						<div class="col">
							<ng-select
								id="selectPhaseType"
								name="selectPhaseType"
								[items]="phaseTypes"
								[clearable]="false"
								[bindLabel]="'val'"
								[bindValue]="'key'"
								[searchable]="false"
								[ngModel]="phaseTypes[0].key"
							></ng-select>
						</div>
					</div> -->
					<div class="row form-group">
						<label for="selectPhase" class="col-4 col-form-label">Phase</label>
						<div class="col">
							<ng-select
								id="selectPhase"
								name="selectPhase"
								[items]="phases$ | async"
								[clearable]="false"
								[bindLabel]="'Description'"
								[bindValue]="'PhaseId'"
								[searchable]="false"
								[ngModel]="(phases$ | async)[0]?.PhaseId"
							></ng-select>
						</div>
					</div>
					<div class="row form-group">
						<label for="selectSubject" class="col-4 col-form-label"
							>Subject</label
						>
						<div class="col">
							<ng-select
								id="selectSubject"
								name="selectSubject"
								[items]="subjects$ | async"
								[clearable]="false"
								[bindLabel]="'Name'"
								[bindValue]="'SubjectId'"
								[searchable]="false"
								[ngModel]="(subjects$ | async)[0]?.SubjectId"
							></ng-select>
						</div>
					</div>
					<div class="row form-group">
						<label for="selectSchedule" class="col-4 col-form-label"
							>Schedule</label
						>
						<div class="col">
							<ng-select
								id="selectSchedule"
								name="selectSchedule"
								[items]="schedules$ | async"
								[clearable]="false"
								[bindLabel]="'ScheduleName'"
								[bindValue]="'ScheduleId'"
								[searchable]="false"
								[ngModel]="(schedules$ | async)[0]?.ScheduleId"
							></ng-select>
						</div>
					</div>
					<div class="row form-group">
						<label for="traineeText" class="col-4 col-form-label"
							>Trainee</label
						>
						<div class="col">
							<textarea
								name="traineeText"
								id="traineeText"
								class="form-control"
								style="resize: vertical; width: 100%;"
							></textarea>
						</div>
					</div>
					<div class="row justify-content-around">
						<button class="btn btn-primary">
							<fa-icon [icon]="['fas', 'plus']"></fa-icon> Insert Trainee(s)
						</button>
					</div>
				</form>
			</rd-card>
		</div>
		<div class="col">
			<rd-card
				[cardTitle]="'Schedule in Subject'"
				[isLoading]="scheduleInSubjectLoading$ | async"
			>
				<div class="row form-group">
					<!-- <div class="col">
						<ng-select
							id="selectPhaseType"
							name="selectPhaseType"
							[items]="phaseTypes"
							[clearable]="false"
							[bindLabel]="'val'"
							[bindValue]="'key'"
							[searchable]="false"
							[ngModel]="phaseTypes[0].key"
						></ng-select>
					</div> -->
					<div class="col">
						<ng-select
							id="selectPhase"
							name="selectPhase"
							[items]="phases$ | async"
							[clearable]="false"
							[bindLabel]="'Description'"
							[bindValue]="'PhaseId'"
							[searchable]="false"
							[ngModel]="(phases$ | async)[0]?.PhaseId"
						></ng-select>
					</div>
					<div class="col">
						<ng-select
							id="selectSubject"
							name="selectSubject"
							[items]="subjects$ | async"
							[clearable]="false"
							[bindLabel]="'Name'"
							[bindValue]="'SubjectId'"
							[searchable]="false"
							[ngModel]="(subjects$ | async)[0]?.SubjectId"
						></ng-select>
					</div>
				</div>
				<div class="row">
					<table class="table table-sm table-striped table-hover text-center">
						<thead>
							<tr>
								<th>Name</th>
								<th>Type</th>
								<th>Schedule Date</th>
								<th>Self Register</th>
								<th>Start Registration</th>
								<th>End Registration</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngIf="(schedules$ | async)?.length === 0">
								<td colspan="6">No schedules yet</td>
							</tr>
							<tr
								*ngFor="let schedule of schedules$ | async"
								class="cursor-pointer"
								(click)="onSelectSchedule(schedule)"
							>
								<td>{{ schedule.ScheduleName }}</td>
								<td>{{ schedule.scheduleType }}</td>
								<td>{{ schedule.ScheduleDates[0] | date: viewDateFormat }}</td>
								<td>{{ schedule.CanSelfRegister || '-' }}</td>
								<td>{{ (schedule.Start | date: viewDateFormat) || '-' }}</td>
								<td>{{ (schedule.End | date: viewDateFormat) || '-' }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</rd-card>
			<rd-card
				[cardTitle]="'Trainee In Schedule'"
				[isLoading]="traineeInScheduleLoading$ | async"
			>
				<div class="row form-group">
					<!-- <div class="col">
						<ng-select
							id="selectPhaseType"
							name="selectPhaseType"
							[items]="phaseTypes"
							[clearable]="false"
							[bindLabel]="'val'"
							[bindValue]="'key'"
							[searchable]="false"
							[ngModel]="phaseTypes[0].key"
						></ng-select>
					</div> -->
					<div class="col">
						<ng-select
							id="selectPhase"
							name="selectPhase"
							[items]="phases$ | async"
							[clearable]="false"
							[bindLabel]="'Description'"
							[bindValue]="'PhaseId'"
							[searchable]="false"
							[ngModel]="(phases$ | async)[0]?.PhaseId"
						></ng-select>
					</div>
					<div class="col">
						<ng-select
							id="selectSubject"
							name="selectSubject"
							[items]="subjects$ | async"
							[clearable]="false"
							[bindLabel]="'Name'"
							[bindValue]="'SubjectId'"
							[searchable]="false"
							[ngModel]="(subjects$ | async)[0]?.SubjectId"
						></ng-select>
					</div>
					<div class="col">
						<ng-select
							id="selectSchedule"
							name="selectSchedule"
							[items]="schedules$ | async"
							[clearable]="false"
							[bindLabel]="'ScheduleName'"
							[bindValue]="'ScheduleId'"
							[searchable]="false"
							[ngModel]="(schedules$ | async)[0]?.ScheduleId"
						></ng-select>
					</div>
				</div>
				<div class="row">
					<table class="table table-sm table-striped text-center">
						<thead>
							<tr>
								<th width="70">Trainee</th>
								<th width="150">Binusian Number</th>
								<th>Name</th>
								<th width="80">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngIf="(traineeInSchedule$ | async)?.length === 0">
								<td colspan="4">No trainees in this schedule</td>
							</tr>
							<tr *ngFor="let trainee of traineeInSchedule$ | async">
								<td>{{ trainee.TraineeCode }}</td>
								<td>{{ trainee.TraineeNumber }}</td>
								<td>{{ trainee.TraineeName }}</td>
								<td>
									<rd-confirmable-button
										[description]="'Delete ' + trainee.TraineeName + '?'"
										(confirm)="onDeleteTrainee(trainee)"
									>
										<button class="btn btn-xs btn-danger">
											<fa-icon [icon]="['far', 'trash-alt']"></fa-icon> Delete
										</button>
									</rd-confirmable-button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</rd-card>
		</div>
	</div>
</div>
