<div class="container-xl">
	<div class="row">
		<div class="col-5">
			<div class="row">
				<div class="col">
					<rd-card [cardTitle]="'Top/Bottom Vote'" [isLoading]="loadingViewVoteSchedule$ | async">
						<table class="table table-sm table-striped table-hover text-center">
							<thead>
								<tr>
									<th>Name</th>
									<th>Date</th>
									<!-- <th width="100px">Actions</th> -->
								</tr>
							</thead>
							<tbody>
								<!-- <tr *ngIf="(voteSchedules$ | async)?.length === 0">
									<td class="p-3" colspan="2">No schedules yet</td>
                </tr> -->
                <!-- For Trainee -->
                <tr>
                  <td class="p-2 font-weight-bold" colspan="2">
                    Trainee's Vote
                  </td>
                </tr>
                <!-- Kalo kosong kasi '-' -->
                <tr *ngIf="(traineeVoteSchedules$ | async)?.length === 0">
									<td class="p-3" colspan="2"> - </td>
                </tr>
								<tr
									*ngFor="let schedule of traineeVoteSchedules$ | async"
									(click)="selectSchedule(schedule)"
                  class="cursor-pointer"
								>
									<td>{{ schedule.ScheduleName }}</td>
									<td>
										{{ schedule.StartDate | date: viewDateFormat }} -
										{{ schedule.EndDate | date: viewDateFormat }}
									</td>
                </tr>
                <!-- For Trainer -->
                <tr>
                  <td class="p-2 font-weight-bold" colspan="2">
                    Trainer's Vote
                  </td>
                </tr>
                <tr *ngIf="(trainerVoteSchedules$ | async)?.length === 0">
									<td class="p-3" colspan="2"> - </td>
                </tr>
								<tr
									*ngFor="let schedule of trainerVoteSchedules$ | async"
									(click)="selectSchedule(schedule)"
									class="cursor-pointer"
								>
									<td>{{ schedule.ScheduleName }}</td>
									<td>
										{{ schedule.StartDate | date: viewDateFormat }} -
										{{ schedule.EndDate | date: viewDateFormat }}
									</td>
								</tr>
							</tbody>
						</table>
					</rd-card>
					<rd-card
						[cardTitle]="isEditing ? 'Edit Vote Schedule' : 'Insert New Vote Schedule'"
						[isLoading]="loadingFormVoteSchedule$ | async"
					>
						<div rdCardBadges class="" [hidden]="!isEditing">
							<button class="btn btn-sm btn-secondary mr-1" (click)="cancelEdit()">
								<fa-icon [icon]="['fas', 'times']"></fa-icon> Cancel
							</button>
						</div>
						<form [formGroup]="voteForm">
							<div class="row form-group">
								<div class="col">
									<div class="row">
										<label>Name</label>
										<input class="form-control" formControlName="scheduleName" />
									</div>
								</div>
								<div class="col-3">
									<div class="row">
										<label># of votes</label>
										<input type="number" class="form-control" formControlName="voteCount" min="1"/>
									</div>
								</div>
							</div>
							<div class="row form-group">
								<div class="col">
									<div class="row">
										<label>Start</label>
										<input type="date" class="form-control" formControlName="startDate" />
									</div>
								</div>
								<div class="col">
									<div class="row">
										<label>End</label>
										<input type="date" class="form-control" formControlName="endDate" />
									</div>
								</div>
							</div>
							<div class="row form-group">
								<div class="col">
									<div class="custom-control custom-checkbox">
										<input
											type="checkbox"
											class="custom-control-input"
											id="isForTrainerCheck"
											formControlName="isForTrainer"
										/>
										<label class="custom-control-label" for="isForTrainerCheck">
											Is for trainer
										</label>
									</div>
								</div>
							</div>
							<div class="row justify-content-around mt-2" [ngSwitch]="isEditing">
								<ng-container *ngSwitchCase="false">
									<button class="btn btn-primary" (click)="submitForm()">
										<fa-icon [icon]="['fas', 'plus']"></fa-icon> Create
									</button>
								</ng-container>
								<ng-container *ngSwitchDefault>
									<button class="btn btn-primary" (click)="submitForm()">
										<fa-icon [icon]="['fas', 'pen']"></fa-icon> Save Changes
									</button>
									<rd-confirmable-pop-up (confirm)="deleteVoteSchedule()">
										<button class="btn btn-danger">
											<fa-icon [icon]="['far', 'trash-alt']"></fa-icon> Delete Schedule
										</button>
									</rd-confirmable-pop-up>
								</ng-container>
							</div>
						</form>
					</rd-card>
				</div>
			</div>
		</div>
		<div class="col">
			<rd-card
				[cardTitle]="
					'Vote Result' + (isEditing ? ' - ' + this.voteForm.get('scheduleName').value : '')
				"
        [expanded]="isEditing"
        [collapsible]="false"
        >
        <!-- [isLoading]="loadingViewVoteResult$ | async" -->
				<div class="row">
					<div class="col justify-content-end">
            <h4 class="m-0 p-1 bd-bottom bd-lightgrey">
              {{currentVote == 'trainer' ? 'Trainer\'s ' : 'Trainee\'s '}} Vote
            </h4>
						<!-- <ul class="nav nav-tabs">
							<li class="nav-item cursor-pointer">
								<b
									class="nav-link"
									[class.active]="currentVote === 'trainee'"
									(click)="currentVote = 'trainee'"
								>
									Trainee
								</b>
							</li>
							<li class="nav-item cursor-pointer">
								<b
									class="nav-link"
									[class.active]="currentVote === 'trainer'"
									(click)="currentVote = 'trainer'"
								>
									Trainer
								</b>
							</li>
						</ul> -->
					</div>
					<div class="col-4">
						<input
							class="form-control"
							placeholder="Search voter / voted / content"
							[formControl]="searchTextControl"
						/>
					</div>
				</div>
				<div class="content">
					<div class="vote-list maxh-550px row" [hidden]="currentVote !== 'trainee'">
						<div
							class="p-4 row justify-content-center"
							[hidden]="(traineeVotesFiltered$ | async)?.length > 0"
						>
							No votes yet...
						</div>
						<div
							class="vote-item row bd-bottom"
							*ngFor="let voter of traineeVotesFiltered$ | async"
						>
							<div class="col">
								<h5 class="row vote-item__voter">
									<ngb-highlight
										[result]="getTrainee(voter.TraineeId)?.codeAndName"
										[term]="searchTextControl.value"
									></ngb-highlight>
								</h5>
								<div class="pl-4 row" *ngIf="voter.TopVotes.length > 0">
									<div class="col">
										<h6 class="row">Top {{ voter.TopVotes.length }}</h6>
										<div class="pl-4 row" *ngFor="let vote of voter.TopVotes">
											<div class="col">
												<span class="">
													<ngb-highlight
														[result]="getTrainee(vote.TraineeId)?.codeAndName"
														[term]="searchTextControl.value"
													></ngb-highlight>
												</span>
												<p style="font-size: small">
													<ngb-highlight
														[result]="vote.Reason"
														[term]="searchTextControl.value"
													></ngb-highlight>
												</p>
											</div>
										</div>
									</div>
								</div>
								<div class="pl-4 row" *ngIf="voter.BottomVotes.length > 0">
									<div class="col">
										<h6 class="row">Bottom {{ voter.BottomVotes.length }}</h6>
										<div class="pl-4 row" *ngFor="let vote of voter.BottomVotes">
											<div class="col">
												<span class="">
													<ngb-highlight
														[result]="getTrainee(vote.TraineeId)?.codeAndName"
														[term]="searchTextControl.value"
													></ngb-highlight>
												</span>
												<p style="font-size: small">
													<ngb-highlight
														[result]="vote.Reason"
														[term]="searchTextControl.value"
													></ngb-highlight>
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="vote-list maxh-550px row" [hidden]="currentVote !== 'trainer'">
						<div
							class="p-4 row justify-content-center"
							[hidden]="(trainerVotesFiltered$ | async)?.length > 0"
						>
							No votes yet...
						</div>
						<div
							class="vote-item row bd-bottom"
							*ngFor="let voter of trainerVotesFiltered$ | async"
						>
							<div class="col">
								<h5 class="row vote-item__voter">
									<ngb-highlight
										[result]="voter.TrainerName"
										[term]="searchTextControl.value"
									></ngb-highlight>
								</h5>
								<div class="pl-4 row" *ngIf="voter.TopVotes.length > 0">
									<div class="col">
										<h6 class="row">Top {{ voter.TopVotes.length }}</h6>
										<div class="pl-4 row" *ngFor="let vote of voter.TopVotes">
											<div class="col">
												<span class="">
													<ngb-highlight
														[result]="getTrainee(vote.TraineeId)?.codeAndName"
														[term]="searchTextControl.value"
													></ngb-highlight>
												</span>
												<p style="font-size: small">
													<ngb-highlight
														[result]="vote.Reason"
														[term]="searchTextControl.value"
													></ngb-highlight>
												</p>
											</div>
										</div>
									</div>
								</div>
								<div class="pl-4 row" *ngIf="voter.BottomVotes.length > 0">
									<div class="col">
										<h6 class="row">Bottom {{ voter.BottomVotes.length }}</h6>
										<div class="pl-4 row" *ngFor="let vote of voter.BottomVotes">
											<div class="col">
												<span class="">
													<ngb-highlight
														[result]="getTrainee(vote.TraineeId)?.codeAndName"
														[term]="searchTextControl.value"
													></ngb-highlight>
												</span>
												<p style="font-size: small">
													<ngb-highlight
														[result]="vote.Reason"
														[term]="searchTextControl.value"
													></ngb-highlight>
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</rd-card>
		</div>
	</div>
</div>
