<div class="container-lg">
	<div class="row">
		<div class="col-5">
			<div class="row">
				<div class="col">
					<rd-card [cardTitle]="'Top/Bottom Vote'">
						<table class="table table-sm table-striped table-hover text-center">
							<thead>
								<tr>
									<th>Name</th>
									<th>Date</th>
									<!-- <th width="100px">Actions</th> -->
								</tr>
							</thead>
							<tbody>
								<tr *ngIf="(voteSchedules$ | async)?.length === 0">
									<td colspan="2">No votes yet</td>
								</tr>
								<tr
									*ngFor="let schedule of voteSchedules$ | async"
									(click)="selectSchedule(schedule)"
									class="cursor-pointer"
								>
									<td>{{ schedule.ScheduleName }}</td>
									<td>
										{{ schedule.StartDate | date: viewDateFormat }} -
										{{ schedule.EndDate | date: viewDateFormat }}
									</td>
								</tr>
							</tbody>
						</table>
					</rd-card>
					<rd-card
						*rdVar="editForm$ | async as form"
						[cardTitle]="form ? 'Edit Vote Schedule' : 'Insert New Vote Schedule'"
						[expanded]="form"
					>
						<div rdCardBadges class="" *ngIf="form">
							<button class="btn btn-sm btn-secondary mr-1" (click)="cancelEdit()">
								<fa-icon [icon]="['fas', 'times']"></fa-icon> Cancel
							</button>
						</div>
						<form>
							<div class="row">
								<div class="col">
									<div class="row form-group">
										<label for="selectSubject">Name</label>
										<input type="text" name="ScheduleName" id="ScheduleName" class="form-control" />
									</div>
								</div>
								<div class="col-3">
									<div class="row form-group">
										<label for="selectSubject"># of votes</label>
										<input type="number" name="AmountVote" id="AmountVote" class="form-control" />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<div class="row form-group">
										<label for="selectSubject">Start</label>
										<input type="text" name="StartDate" id="StartDate" class="form-control" />
									</div>
								</div>
								<div class="col">
									<div class="row form-group">
										<label for="selectSubject">End</label>
										<input type="text" name="EndDate" id="EndDate" class="form-control" />
									</div>
								</div>
							</div>
							<div class="row justify-content-around mt-2" [ngSwitch]="!!form">
								<ng-container *ngSwitchCase="false">
									<button type="submit" class="btn btn-primary">
										<fa-icon [icon]="['fas', 'plus']"></fa-icon> Create
									</button>
								</ng-container>
								<ng-container *ngSwitchDefault>
									<rd-confirmable-button (confirm)="onClick()">
										<button class="btn btn-primary">
											<fa-icon [icon]="['fas', 'pen']"></fa-icon> Save Changes
										</button>
									</rd-confirmable-button>
									<rd-confirmable-button (confirm)="onClick()">
										<button class="btn btn-danger">
											<fa-icon [icon]="['far', 'trash-alt']"></fa-icon> Delete Schedule
										</button>
									</rd-confirmable-button>
								</ng-container>
							</div>
						</form>
					</rd-card>
				</div>
			</div>
		</div>
		<div class="col">
			<rd-card [cardTitle]="'Vote Result'" [expanded]="true">
				<div class="row">
					<div class="col">
						<ul class="nav nav-tabs">
							<li class="nav-item cursor-pointer">
								<b
									class="nav-link"
									[class.active]="currentVote === 'trainee'"
									(click)="currentVote = 'trainee'"
									>Trainee</b
								>
							</li>
							<li class="nav-item cursor-pointer">
								<b
									class="nav-link"
									[class.active]="currentVote === 'trainer'"
									(click)="currentVote = 'trainer'"
									>Trainer</b
								>
							</li>
						</ul>
					</div>
					<div class="col-4">
						<input
							type="text"
							class="form-control"
							id="searchTrainee"
							placeholder="Search"
							[ngbTypeahead]="onTypeSearch"
							[(ngModel)]="searchText"
						/>
					</div>
				</div>
				<div class="content">
					<div class="vote-list row">
						<div
							class="vote-item row border-bottom"
							*ngFor="let voter of traineeVotesFiltered$ | async"
						>
							<div class="col">
								<h5 class="row vote-item__voter">
									<ngb-highlight
										[result]="getTrainee(voter.TraineeId).codeAndName"
										[term]="searchText"
									></ngb-highlight>
									<!-- {{ getTrainee(voter.TraineeId).codeAndName }} -->
								</h5>
								<div class="pl-4 row">
									<div class="col">
										<h6 class="row">Top {{ voter.TopVotes.length }}</h6>
										<div class="pl-4 row" *ngFor="let vote of voter.TopVotes">
											<div class="col">
												<span class="">
													<ngb-highlight
														[result]="getTrainee(voter.TraineeId).codeAndName"
														[term]="searchText"
													></ngb-highlight>
													<!-- {{getTrainee(vote.TraineeId).codeAndName}} -->
												</span>
												<p style="font-size: small">
													<ngb-highlight [result]="vote.Reason" [term]="searchText"></ngb-highlight>
													<!-- {{ vote.Reason }} -->
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</rd-card>
		</div>
	</div>
</div>
