<div class="container-xl">
	<div class="row">
		<div class="col">
			<rd-card
				[cardTitle]="'New Presentation'"
				[isLoading]="loadingFormPresentation$ | async"
				[formGroup]="presentationForm"
				[collapsible]="false"
			>
				<div class="row form-group">
					<div class="col-2">
						<label class="col-form-label font-weight-bold"> Phase </label>
					</div>
					<div class="col-4">
						<ng-select
							[items]="phases$ | async"
							[clearable]="false"
							[searchable]="false"
							bindLabel="Description"
							placeholder="Phase"
							[ngModel]="currentPhase$ | async"
							(change)="currentPhase$.next($event)"
							[ngModelOptions]="{ standalone: true }"
						></ng-select>
					</div>
					<div class="col"></div>
				</div>
				<div class="row form-group">
					<div class="col-2">
						<label class="col-form-label font-weight-bold"> Subject </label>
					</div>
					<div class="col-4">
						<ng-select
							[items]="subjects$ | async"
							[clearable]="false"
							[searchable]="false"
							bindLabel="Name"
							bindValue="SubjectId"
							placeholder="Subject"
							formControlName="subjectId"
						></ng-select>
					</div>
					<div class="col"></div>
				</div>
				<div class="row form-group">
					<div class="col-2">
						<label class="col-form-label font-weight-bold"> Material </label>
					</div>
					<div class="col-4">
						<input class="form-control" formControlName="materialName" />
					</div>
					<div class="col"></div>
					<div class="col-auto">
						<button
							class="btn btn-primary"
							[disabled]="this.presentationForm.invalid"
							(click)="saveCoreTrainingPresentation()"
						>
							<fa-icon [icon]="['fas', 'pen']"></fa-icon> Save Presentation
						</button>
					</div>
				</div>

				<h5 class="row p-2 bd-bottom bd-lightgrey">Questions</h5>
				<div class="row my-2" *ngFor="let qstControl of questionsArray.controls; let i = index">
					<div class="col-auto p-1 pr-2">
						<button class="btn btn-sm btn-outline-danger" (click)="deleteQuestion(i)">
							<fa-icon [icon]="['far', 'trash-alt']"></fa-icon>
						</button>
					</div>
					<div class="col-auto">
						<label class="col-form-label font-weight-bold"> {{ i + 1 }}. </label>
					</div>
					<div class="col">
						<!-- Bug: quill-editor doesn't update validity on change (Fixed) -->
						<quill-editor
							name="answerEdit"
							theme="bubble"
							[formControl]="qstControl"
							(onContentChanged)="qstControl.updateValueAndValidity()"
						></quill-editor>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<button class="btn btn-primary" (click)="addQuestion()">
							<fa-icon [icon]="['fas', 'plus']"></fa-icon> Add Question
						</button>
					</div>
				</div>

				<h5 class="row p-2 mt-4">Comments</h5>
				<div class="row">
					<div class="col">
						<quill-editor
							name="answerEdit"
							[formControl]="commentControl"
							placeholder="Insert text to add question..."
							(onContentChanged)="commentControl.updateValueAndValidity()"
						></quill-editor>
					</div>
				</div>
			</rd-card>
		</div>
	</div>
</div>
