<div class="container-xl">
	<div class="row">
		<div class="col">
			<rd-card [cardTitle]="'Case List'" [isLoading]="loadingViewCases$ | async">
				<div class="row mb-3" *ngIf="!(isTrainerOrJunior$ | async); else correctorFormControl">
					<div class="col-4">
						<ng-select
							[items]="phases$ | async"
							[clearable]="false"
							[searchable]="false"
							bindLabel="Description"
							[ngModel]="viewCurrentPhase$ | async"
							(change)="viewCurrentPhase$.next($event)"
							placeholder="Phase"
						></ng-select>
					</div>
					<div class="col-4">
						<ng-select
							[items]="viewSubjectList$ | async"
							[clearable]="false"
							[searchable]="false"
							bindLabel="Name"
							[ngModel]="viewCurrentSubject$ | async"
							(change)="viewCurrentSubject$.next($event)"
							placeholder="Subject"
						></ng-select>
					</div>
					<div class="col">
						<button
							class="btn bg-excel"
							(click)="exportIntoExcel()"
							[hidden]="!(viewCurrentSubject$ | async)"
						>
							Export {{ (viewCurrentSubject$ | async)?.Name }} into Excel
						</button>
					</div>
				</div>
				<ng-template #correctorFormControl>
					<div class="row mb-3">
						<div class="col-5">
							<ng-select
								[items]="phases$ | async"
								[clearable]="false"
								[searchable]="false"
								bindLabel="Description"
								[ngModel]="viewCurrentPhase$ | async"
								(change)="viewCurrentPhase$.next($event)"
								placeholder="Phase"
							></ng-select>
						</div>
					</div>
				</ng-template>
				<div class="row">
					<table class="table table-sm table-striped table-hover text-center">
						<thead>
							<tr>
								<th>Name</th>
								<th>Correction Date</th>
								<th>Corrector(s)</th>
								<th>Case File</th>
								<th>Completed</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngIf="(viewCaseList$ | async)?.length === 0">
								<td class="p-3" colspan="7">No cases yet</td>
							</tr>
							<tr
								*ngFor="let case of viewCaseList$ | async"
								class="cursor-pointer"
								(click)="showScoringForCase(case)"
							>
								<td>{{ case.CaseName }}</td>
								<td>
									{{ case.StartDate | date: startDateFormat }} -
									{{ case.Deadline | date: getDeadlineFormat(case.StartDate, case.Deadline) }}
								</td>
								<td>{{ case.Corrector.join(', ') }}</td>
								<td><a [href]="case.downloadLink">Download</a></td>
								<td>{{ case.Done }} of {{ case.All }}</td>
								<td>
									<div [ngSwitch]="case.isAvailable">
										<div *ngSwitchCase="false">Not yet started</div>

										<div *ngSwitchDefault [ngSwitch]="case.Done < case.All">
											<div *ngSwitchCase="true">{{ case.All - case.Done }} remaining</div>
											<div *ngSwitchDefault>Done</div>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="row">
					<button
						class="btn btn-secondary"
						[hidden]="(viewCaseList$ | async)?.length == 0"
						(click)="downloadAllCases()"
					>
						<fa-icon [icon]="['fas', 'download']"></fa-icon> Download All Cases
					</button>
				</div>
			</rd-card>
			<rd-card
				[cardTitle]="
					'Scoring ' +
					(!!(viewCurrentCase$ | async) ? '- ' + (viewCurrentCase$ | async)?.CaseName : '')
				"
				[isLoading]="loadingScoreList$ | async"
				[expanded]="(viewCurrentCase$ | async) != null"
				[collapsible]="(viewCurrentCase$ | async) != null"
			>
				<div class="row mb-3" [hidden]="(answerList$ | async)?.length == 0">
					<div class="col">
						<button class="btn btn-primary mr-3" (click)="saveScore()">
							<fa-icon [icon]="['fas', 'pen']"></fa-icon> Save Updated Scores
						</button>
						<button class="btn btn-secondary mr-3" (click)="downloadAllAnswers()">
							<fa-icon [icon]="['fas', 'download']"></fa-icon> Download All Answers
						</button>
					</div>
					<div class="col-auto">
						<button class="btn bg-excel" (click)="getExcelTemplate()">
							<fa-icon [icon]="['fas', 'download']"></fa-icon> Download Scoring Template
						</button>
					</div>
					<div class="col-4">
						<rd-upload-input
							placeholder="Click or drop here to upload score with excel"
							(upload)="uploadScoreFromExcel($event)"
						></rd-upload-input>
					</div>
				</div>
				<!-- Hanya bisa dibuka tutup kalo ada currentCase -->
				<div class="row">
					<table class="table table-striped table-hover text-center">
						<thead>
							<tr>
								<th width="80">Code</th>
								<th width="300">Name</th>
								<th width="150">Upload Date</th>
								<th width="100">Answer</th>
								<th width="100">Score</th>
								<th>Zeroing Reason</th>
							</tr>
						</thead>
						<tbody>
							<tr
								*ngFor="let answer of answerList$ | async; let i = index"
								[class.bg-green]="scores.at(i).dirty"
							>
								<td>{{ answer.TraineeCode }}</td>
								<td class="text-left">{{ answer.TraineeName }}</td>
								<td>{{ answer.UploadDate | date: uploadDateFormat }}</td>
								<td [ngSwitch]="answer.hasNoAnswer">
									<span *ngSwitchCase="true">-</span>
									<a *ngSwitchDefault [href]="answer.answerDownloadLink">Download</a>
								</td>
								<td>
									<input type="number" class="form-control" [formControl]="scores.at(i)" />
								</td>
								<td [hidden]="scores.at(i).value != 0">
									<input
										class="form-control"
										placeholder="Reason"
										[formControl]="zeroingReasons.at(i)"
									/>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</rd-card>
		</div>
	</div>
</div>
