<div class="container-lg">
	<div class="row">
		<div class="col-3">
			<rd-card [cardTitle]="'Search Presentation'" [isLoading]="false">
				<div class="col v-list-m-12 v-list-bordered px-0">
					<div class="row">
						<div class="col">
							<ng-select
								[items]="phases$ | async"
								[clearable]="false"
								bindLabel="Description"
								[searchable]="false"
								[ngModel]="currentPhase$ | async"
								(change)="currentPhase$.next($event)"
							></ng-select>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<ng-select
								[items]="subjects$ | async"
								[clearable]="false"
								bindLabel="Name"
								[searchable]="false"
								[ngModel]="currentSubject$ | async"
								(change)="currentSubject$.next($event)"
							></ng-select>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<ng-select
								[items]="traineesInSubject$ | async"
								[clearable]="false"
								[searchable]="false"
								[ngModel]="currentTraineeCode$ | async"
								(change)="currentTraineeCode$.next($event)"
							></ng-select>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<ng-select
								[items]="presentationsForTrainee$ | async"
								[clearable]="false"
								bindLabel="PresentationNo"
								[searchable]="false"
								[ngModel]="currentPresentation$ | async"
								(change)="currentPresentation$.next($event)"
							></ng-select>
						</div>
					</div>
				</div>
			</rd-card>
		</div>
		<div class="col">
			<rd-card
				[cardTitle]="'View Presentation'"
				[expanded]="currentPresentation$ | async"
				[collapsible]="false"
			>
				<ng-container *ngIf="currentPresentation$ | async as presentation">
					<div class="row mb-3">
						<div class="col-3"><b>Material</b></div>
						<div class="col">
							{{ presentation?.Material }}
						</div>
					</div>
					<div class="row mb-3" *ngIf="presentationStatus$ | async as status">
						<div class="col-3"><b>Status</b></div>
						<div
							class="col"
							[ngClass]="{
								'text-danger': status === 'Not Passed',
								'text-success': status === 'Passed'
							}"
						>
							<b>{{ status }}</b>
						</div>
					</div>
					<div class="row mb-3">
						<b>Questions:</b>
					</div>
					<div class="row mb-3">
						<div class="col v-list-m-12 v-list-bordered px-0">
							<div class="row" *ngFor="let question of presentation?.Questions">
								<rd-presentation-question [presentation]="presentation" [question]="question">
									<!-- currentGenId="(currentGeneration$ | async)?.GenerationId" -->
									<!-- TODO: Add role validation here (!= Trainee) -->
									<div class="actions" *ngIf="true">
										<rd-confirmable-pop-up (confirm)="onDeleteQuestion(question)">
											<button class="btn btn-danger">
												<fa-icon [icon]="['far', 'trash-alt']"></fa-icon>
											</button>
										</rd-confirmable-pop-up>
									</div>
								</rd-presentation-question>
							</div>
						</div>
					</div>
					<div class="row">
						<b>Comment: </b>
						<div [innerHTML]="presentation?.Comment"></div>
					</div>
				</ng-container>
			</rd-card>
		</div>
	</div>
</div>
