<div class="container-xl">
	<div class="row">
		<div class="col">
			<!-- My attendance for Trainee -->
			<div class="row">
				<div class="col">
					<rd-card
						[cardTitle]="'My Attendance Today'"
						[isLoading]="loadingDailyAttendance$ | async"
					>
						<div class="row">
							<div class="col" *ngIf="(traineeDailyAttendance$ | async) || {} as att">
								<b>Secretariat</b>
								<ul>
									<li [class]="att.Secretariat?.StatusAbsentIn">
										In: {{ att.Secretariat?.TimeIn }}
									</li>
									<li [class]="att.Secretariat?.StatusAbsentOut">
										Out: {{ att.Secretariat?.TimeOut }}
									</li>
								</ul>
								<b>Room</b>
								<ul>
									<li [class]="att.Room?.StatusAbsentIn">In: {{ att.Room?.TimeIn }}</li>
									<li [class]="att.Room?.StatusAbsentOut">Out: {{ att.Room?.TimeOut }}</li>
								</ul>
								<b>Rest</b>
								<ul>
									<li [class]="att.Rest?.StatusAbsentIn">In: {{ att.Rest?.TimeIn }}</li>
									<li [class]="att.Rest?.StatusAbsentOut">Out: {{ att.Rest?.TimeOut }}</li>
								</ul>
							</div>
						</div>
					</rd-card>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<rd-card [cardTitle]="'Announcements'" [isLoading]="loadingAnnouncements$ | async">
						<div class="row v-list-m-6 v-list-bordered">
							<div class="row" *ngFor="let msg of announcements$ | async">
								<div class="col">
									<h4>{{ msg.Title }}</h4>
									<div [innerHTML]="msg.contentAndAttachmentHTML"></div>
								</div>
							</div>
						</div>
					</rd-card>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="row">
				<div class="col">
					<rd-card [cardTitle]="'Schedule'" [isLoading]="loadingSchedules$ | async">
						<rd-data-table
							[data]="schedules$ | async"
							[sortable]="true"
							[fixedHeight]="300"
							[noDataMessage]="'No schedules yet'"
						>
							<rd-table-header> </rd-table-header>
							<ng-container>
								<!-- Needs prop to be sortable -->
								<rd-table-column
									[prop]="'AttendanceDate'"
									[label]="'Date'"
									[sortable]="true"
									[sortState]="'DESC'"
								>
									<ng-template rdTableTemplate="body" let-schedule="rowData">
										{{ schedule.AttendanceDate | date: dateFormat }}
									</ng-template>
								</rd-table-column>

								<rd-table-column [label]="'Time'">
									<ng-template rdTableTemplate="body" let-schedule="rowData">
										{{ schedule.TimeIn }} - {{ schedule.TimeOut }}
									</ng-template>
								</rd-table-column>

								<rd-table-column [label]="'Room'" [cellClass]="'text-left'">
									<ng-template rdTableTemplate="body" let-schedule="rowData">
										<ng-container [ngSwitch]="isRoomLink(schedule.Room)">
											<ng-container *ngSwitchCase="false">
												{{ schedule.Room }}
											</ng-container>
											<ng-container *ngSwitchDefault>
												<a [href]="schedule.Room" rdExternalUrl>Link here</a>
											</ng-container>
										</ng-container>
									</ng-template>
								</rd-table-column>
							</ng-container>
						</rd-data-table>
					</rd-card>
				</div>
			</div>
			<div class="row" [hidden]="">
				<div class="col">
					<rd-card
						[cardTitle]="'Unanswered/Wrong Questions'"
						[isLoading]="false"
					>
						
					</rd-card>
				</div>
			</div>
		</div>
	</div>
</div>
