<span class="file-placeholder form-control" (click)="fileUploader.click()">
	<ng-container [ngSwitch]="hasFile">
		<span *ngSwitchCase="false" class="cursor-pointer">
			<i>Click here to upload</i>
		</span>
		<span *ngSwitchDefault class="cursor-pointer">
			<i>{{ fileNames }}</i>
		</span>
	</ng-container>
</span>
<input
	#fileUploader
	type="file"
	class="form-control"
	[multiple]="multiple"
	(change)="uploadFile($event.target.files)"
/>
<div class="input-group-append" [hidden]="!hasFile">
	<!-- Button for download -->
	<ng-template #downloadPopContent>
		<div class="p-2">
      Download:
      <!-- If multiple -->
			<ul class="pl-3" *ngIf="multiple">
				<li *ngFor="let file of filesForm.value">
					{{ file.fileName }}
				</li>
      </ul>
      <!-- If single -->
			<ul class="pl-3" *ngIf="!multiple">
				<li>
					{{ singleFileForm.value.fileName }}
				</li>
			</ul>
		</div>
	</ng-template>
	<button
		class="btn btn-info"
		[ngbPopover]="downloadPopContent"
		triggers="mouseenter:mouseleave"
		(click)="downloadFile()"
		[hidden]="!hasFile"
	>
		<fa-icon [icon]="['fas', 'download']"></fa-icon>
	</button>

	<!-- Button to remove uploaded file -->
	<button
		class="btn btn-info hover-switch-content"
		[ngbPopover]="removePopContent"
		triggers="mouseenter:mouseleave"
		title="Remove uploaded files"
		(click)="removeUploadedFiles($event)"
    [hidden]="!hasFile"
    style="width: 37px;"
	>
		<ng-template #removePopContent>
			<div class="p-2">
				Remove uploaded files?
        <!-- If multiple -->
        <ul class="pl-3" *ngIf="multiple">
          <li *ngFor="let file of filesForm.value">
            {{ file.fileName }}
          </li>
        </ul>
        <!-- If single -->
        <ul class="pl-3" *ngIf="!multiple">
          <li>
            {{ singleFileForm.value.fileName }}
          </li>
        </ul>
			</div>
		</ng-template>
		<fa-icon [icon]="['fas', 'check']" class="not-hovered"></fa-icon>
		<fa-icon [icon]="['fas', 'times']" class="hovered"></fa-icon>
	</button>
</div>
