<!-- Set index above toaster -->
<header>
	<div class="container-lg">
		<div class="row justify-content-between">
			<div class="col">
				<img src="../../assets/images/ribbon.png" />
				<img src="../../assets/images/CI NAR.png" height="100" />
			</div>
			<div class="col align-self-end pt-4">
				<div class="row justify-content-end pt-1">
          <!-- For showing loading when changing gen -->
					<div
						class="lds-ring"
						style="width: 35px; height: 35px"
						[hidden]="!(loadingChangeGen$ | async)"
					>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
					</div>
					&nbsp;&nbsp;
					<ng-container *ngIf="(currentUser$ | async)?.Role.is(constant.role.AssistantSupervisor)">
						<ng-select
							[items]="roleList$ | async"
							[clearable]="false"
							[searchable]="false"
							bindLabel="roleName"
							bindValue="roleName"
							[ngModel]="(selectedRole$ | async)?.roleName"
							style="width: 200px"
							(change)="onChangeRole($event)"
						></ng-select>
						&nbsp;&nbsp;
						<ng-select
							[items]="genList$ | async"
							[clearable]="false"
							[searchable]="false"
							bindLabel="Description"
							bindValue="GenerationId"
							[ngModel]="selectedGenId$ | async"
							(change)="onChangeGen($event)"
							style="width: 80px"
						></ng-select>
						<!-- <select [ngModel]="(selectedRole$ | async)?.roleName" (change)="onChangeRole($event.target.value)">
							<option *ngFor="let role of roleList$ | async" [value]="role.roleName">
								{{ role.roleName }}
							</option>
						</select>
						<select [ngModel]="(selectedGenId$ | async)" (change)="onChangeGen($event.target.value)">
							<option *ngFor="let gen of genList$ | async" [value]="gen.GenerationId">
								{{ gen.Description }}
							</option>
						</select> -->
					</ng-container>
				</div>

				<div class="row justify-content-end pt-1">
					<b>
						<span class="cursor" random-salutation>Hi, </span>
						<span class="text-primary">{{ (currentUser$ | async)?.Name }}</span>
					</b>
				</div>

				<rd-clock class="row justify-content-end pt-1 font-weight-bold"></rd-clock>

				<div class="row justify-content-end pt-1">
					<span class="btn btn-sm hover-text-blue" [hidden]="isDark" (click)="toggleGreyMode()">
						<fa-icon [icon]="['fas', 'sun']"></fa-icon> Light Theme
					</span>
					<span class="btn btn-sm hover-text-blue" [hidden]="!isDark" (click)="toggleGreyMode()">
						<fa-icon [icon]="['fas', 'moon']"></fa-icon> Grey Theme
					</span>

					<!-- <span>
            <fa-icon class="btn btn-sm hover-text-blue" [icon]="['far', 'bell']"></fa-icon>
          </span> -->
					<span class="btn btn-sm hover-text-blue" (click)="signOut()">
						<b>Sign Out</b> &nbsp;
						<fa-icon [icon]="['fas', 'sign-out-alt']"></fa-icon>
					</span>
				</div>
			</div>
		</div>
	</div>
</header>
<nav class="navbar sticky-top">
	<div class="container-lg">
		<!-- TODO: Hover to scroll left here -->
		<!-- <div style="width: 106%; position:relative; left:-3%">
      <div class="menu-list-scroller">
  
      </div> -->
		<div class="menu-list">
			<!-- TODO: Div with gradient white here -->
			<ng-container *ngFor="let menu of menuList">
				<ng-container [ngSwitch]="menu.children == undefined">
					<!-- No Submenu -->
					<a
						*ngSwitchCase="true"
						class="hover-text-blue menu-item"
						[class.menu-active]="isMenuActive(menu)"
						[routerLink]="'/' + menu.path"
					>
						{{ menu.data?.name }}
					</a>
					<!-- Has submenu -->
					<a *ngSwitchCase="false" class="menu-item" [class.menu-active]="isMenuActive(menu)">
						{{ menu.data?.name }}
						<div class="sub-menu">
							<a
								class="hover-text-blue menu-item sub-menu__item"
								*ngFor="let submenu of menu.children"
								[routerLink]="['/', menu.path, submenu.path]"
							>
								{{ submenu.data?.name }}
							</a>
						</div>
					</a>
				</ng-container>
			</ng-container>
		</div>
	</div>
</nav>
<div class="dashboard__content flex-fill">
	<!-- [@routerTransition]="getState(o)" -->
	<router-outlet #o="outlet"></router-outlet>
	<footer class="page-footer font-small text-center text-black-50">
		<span>Copyright &copy; 2020 - Research and Development Team</span>
		<br />
		<span>Software Laboratory Center</span>
	</footer>
</div>
