:host {
	background-color: #f1f1f1;
	min-height: 100vh;
	width: auto; // 100vw cause scroll-x exists when scroll-y exists

	header,
	.navbar {
		background-color: white;
	}

	.navbar {
		min-height: 40px;
		border-top: 1px solid lightgray;
		border-bottom: 1px solid lightgray;
		box-shadow: 0px 1px 1px 1px #ddd;
		padding: 0;
	}

	.menu-list {
		margin: 0;
		padding: 0;
    display: flex;
	}

	.menu-item {
    position: relative;
		display: inline-block;

    color: #777777;
		padding: 10px;
		font-weight: bold;
		text-decoration: none;
		cursor: pointer;

		&.menu-active{
			color: #00a9e2;
		}

		&:hover .sub-menu {
			display: block;
		}
	}

	.sub-menu {
		min-width: 200px;
		position: absolute;
		top: 100%;
		left: 0;
		display: none;
		background-color: white;
		border: 1px solid lightgrey;
		border-top: none;
		z-index: 1;
		box-shadow: 0px 2px 3px 0px #ddd;

		&__item {
			display: block;
			cursor: pointer;

			padding: 8px 16px;
			white-space: nowrap;

			// &:last-child{
			//   padding-top: 0;
			// }
		}
	}
}

::ng-deep .dark-theme{

  color: white !important;

  header, nav{
    background-color: #1d455d !important;
  }

  .dashboard__content{
    background-color: #1d455d !important;
  }
}