
$header-z-index: 1020;
$popover-z-index: 1060; // default 1060
$ng-select-z-index: 1070; // default 1050
$toaster-z-index: 1090;

$header-bg-color-light: white;
$content-bg-color-light: #f1f1f1;
$text-color-light: grey;
$active-text-color-light: #00a9e2;

$header-bg-color-dark: #666;
$content-bg-color-dark: #aaa;
$text-color-dark: white;
$active-text-color-dark: #00a9e2;

