/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~@ng-select/ng-select/themes/default.theme.css';

@import './override-bootstrap';
@import './variables';
@import './dark-theme';

@font-face {
	font-family: 'Segoe UI';
	src: url('./assets/fonts/segoeui.ttf');
	// src: url('/src/assets/fonts/segoeui.ttf');
}

html,
body {
	min-height: 100vh;
	min-width: 100vw;
}

html {
	font-size: 14px;
}

body {
	background-color: #f1f1f1;
	margin: 0;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;

	overflow-x: hidden;
}

body * {
	// position: relative;
	box-sizing: border-box;
}

footer {
	margin-top: 15px;
}

.hover-text-blue:hover {
	color: #00a9e2 !important;
}

.hover-switch-content {
	.hovered {
		display: none;
	}
	.not-hovered {
		display: initial;
	}

	&:hover {
		.hovered {
			display: initial;
		}
		.not-hovered {
			display: none;
		}
	}
}

// List padding
.v-list-m-12 {
	// > * {
	// 	display: flex;
	// 	flex-flow: column;
	// }
	> *:not(:last-child)::after {
		content: '';
		margin: 12px 0;
		width: 100%;
	}
}
.v-list-m-6 {
	// > * {
	// 	display: flex;
	// 	flex-flow: column;
	// }
	> *:not(:last-child)::after {
		content: '';
		margin: 6px 0;
		width: 100%;
	}
}

// Placeholder
*::placeholder {
	font-size: smaller;
	font-style: italic;
	color: lightgrey;
}

// NOTE: Need evaluation
// .h-list-m-12 {
//   > *{
//     display: flex;
//     flex-flow: row;
//   }
//   > *:not(:last-child){
//     content: "";
//     margin: 0 12px;
//     height: 0px;
//   }
// }
// .h-list-m-6 {
//   > *{
//     display: flex;
//     flex-flow: row;
//   }
//   > *:not(:last-child)::after{
//     content: "";
//     margin: 0 6px;
//     height: 0px;
//   }
// }
.h-list-m-12 {
	> * {
		display: flex;
		flex-flow: row;
	}
	> *:not(:last-child) {
		content: '';
		margin: 0 12px;
		height: 0px;
	}
}
// .h-list-m-6 {
//   > *{
//     display: flex;
//     flex-flow: row;
//   }
//   > *:not(:last-child)::after{
//     content: "";
//     margin: 0 6px;
//     height: 0px;
//   }
// }

.v-list-bordered {
	> *::after {
		border-bottom: 1px solid lightgrey;
	}

	> *:last-child::after {
		border-bottom: unset;
	}
}

.h-list-bordered {
	> *:not(:last-child) {
		border-right: 1px solid lightgrey;
	}
}

// Border
.border-lightgrey {
	border-color: lightgrey !important;
}

.border-full-solid {
	border: 1px solid;
}
.border-full-dash {
	border-right: 1px dashed;
}

.border-right {
	border-right: 1px solid;
}
.border-left {
	border-left: 1px solid;
}
.border-top {
	border-top: 1px solid;
}
.border-bottom {
	border-bottom: 1px solid;
}

.border-rad-4 {
	border-radius: 4px;
}
.border-rad-8 {
	border-radius: 8px;
}
.border-rad-12 {
	border-radius: 12px;
}
.border-circle {
	border-radius: 50%;
}

// Button
.btn {
	&-icon {
		border-radius: 50%;

		&:hover {
			background-color: lighten($color: lightgrey, $amount: 10%);
		}
		&:active {
			background-color: lightgrey;
		}
	}
}

// Cursor
.cursor-pointer {
	cursor: pointer;
}
.click-through {
	pointer-events: none;
}
.clickable {
	pointer-events: visible;
}

// Position
.absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
}

.size-cover {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

// z-index
// NOTE: How it's not working?
// @for $i from 0 through 12 {
//   .z-index-#{$i}{
//     z-index: $i;
//   }
// }
.z-index--1 {
	z-index: -1;
}
.z-index-0 {
	z-index: 0;
}
.z-index-1 {
	z-index: 1;
}
.z-index-2 {
	z-index: 2;
}
.z-index-3 {
	z-index: 3;
}
.z-index-4 {
	z-index: 4;
}
.z-index-5 {
	z-index: 5;
}
.z-index-10 {
	z-index: 10;
}
.z-index-15 {
	z-index: 15;
}
.z-index-20 {
	z-index: 20;
}
.z-index-25 {
	z-index: 25;
}
.z-index-30 {
	z-index: 30;
}
.z-index-35 {
	z-index: 35;
}
.z-index-40 {
	z-index: 40;
}
.z-index-45 {
	z-index: 45;
}
.z-index-50 {
	z-index: 50;
}
.z-index-1000 {
	z-index: 1000;
}
.z-index-1010 {
	z-index: 1010;
}
.z-index-1020 {
	z-index: 1020;
}
.z-index-1030 {
	z-index: 1030;
}

// h & w
.h-150px {
	height: 150px !important;
}
.h-200px {
	height: 200px !important;
}
.h-300px {
	height: 300px !important;
}
.mh-150px {
	min-height: 150px !important;
}
.mh-200px {
	min-height: 200px !important;
}
.mh-300px {
	min-height: 300px !important;
}
.w-150px {
	width: 150px !important;
}
.w-200px {
	width: 200px !important;
}
.w-300px {
	width: 300px !important;
}

// text-area
.vertical-text-area {
	width: 100%;
	resize: vertical;
}

.confirmable-popover {
	border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  
	> .popover-header {
		color: black;
	}
	> .popover-body {
		padding: 0;
	}
}

.bg-excel{
  background-color: teal;
}
