/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~@ng-select/ng-select/themes/default.theme.css';

@import './override-bootstrap';
@import './variables';
@import './dark-theme';

@font-face {
	font-family: 'Segoe UI';
	src: url('./assets/fonts/segoeui.ttf');
	// src: url('/src/assets/fonts/segoeui.ttf');
}

html,
body {
	min-height: 100vh;
	min-width: 100vw;
}

html {
	font-size: 14px;
}

body {
	background-color: #f1f1f1;
	margin: 0;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;

	overflow-x: hidden;
}

body * {
	// position: relative;
	box-sizing: border-box;
}

footer {
	margin-top: 15px;
}

a {
	&:hover {
		text-decoration: none;
	}
}

.hover-text-blue:hover {
	color: #00a9e2 !important;
}

.hover-switch-content {
	.hovered {
		display: none;
	}
	.not-hovered {
		display: initial;
	}

	&:hover {
		.hovered {
			display: initial;
		}
		.not-hovered {
			display: none;
		}
	}
}

// List padding
.v-list-m-12 {
	> * {
		display: flex;
		flex-flow: column;
	}
	> *:not(:last-child)::after {
		content: '';
		margin: 12px 0;
		width: 100%;
	}
}
.v-list-m-6 {
	> * {
		display: flex;
		flex-flow: column;
	}
	> *:not(:last-child)::after {
		content: '';
		margin: 6px 0;
		width: 100%;
	}
}

// Placeholder
*::placeholder {
	font-size: smaller;
	font-style: italic;
	color: lightgrey;
}

// NOTE: Need evaluation
// .h-list-m-12 {
//   > *{
//     display: flex;
//     flex-flow: row;
//   }
//   > *:not(:last-child){
//     content: "";
//     margin: 0 12px;
//     height: 0px;
//   }
// }
// .h-list-m-6 {
//   > *{
//     display: flex;
//     flex-flow: row;
//   }
//   > *:not(:last-child)::after{
//     content: "";
//     margin: 0 6px;
//     height: 0px;
//   }
// }
.h-list-m-12 {
	> * {
		display: flex;
		flex-flow: row;
	}
	> *:not(:last-child) {
		content: '';
		margin: 0 12px;
		height: 0px;
	}
}
// .h-list-m-6 {
//   > *{
//     display: flex;
//     flex-flow: row;
//   }
//   > *:not(:last-child)::after{
//     content: "";
//     margin: 0 6px;
//     height: 0px;
//   }
// }

.v-list-bordered {
	> *::after {
		border-bottom: 1px solid lightgrey;
	}

	> *:last-child::after {
		border-bottom: unset;
	}
}

.h-list-bordered {
	> *:not(:last-child) {
		border-right: 1px solid lightgrey;
	}
}

// Border
.border-lightgrey {
	border-color: lightgrey !important;
}

.border-full-solid {
	border: 1px solid;
}
.border-full-dash {
	border-right: 1px dashed;
}

.border-right {
	border-right: 1px solid;
}
.border-left {
	border-left: 1px solid;
}
.border-top {
	border-top: 1px solid;
}
.border-bottom {
	border-bottom: 1px solid;
}

.border-rad-4 {
	border-radius: 4px;
}
.border-rad-8 {
	border-radius: 8px;
}
.border-rad-12 {
	border-radius: 12px;
}
.border-circle {
	border-radius: 50%;
}

// Button
.btn {
	&-icon {
		border-radius: 50%;

		&:hover {
			background-color: lighten($color: lightgrey, $amount: 10%);
		}
		&:active {
			background-color: lightgrey;
		}
	}
}

.pre-wrap {
	white-space: pre-wrap;
}

// Cursor
.cursor-pointer {
	cursor: pointer;
}
.click-through {
	pointer-events: none;
}
.clickable {
	pointer-events: visible;
}

// Position
.absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
}

.size-cover {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

// z-index
.z-index--1 {
	z-index: -1;
}
@for $i from 0 through 15 {
	.z-index-#{$i} {
		z-index: #{$i};
	}
}
// Max height
// mh-0px - mh-600px
@for $i from 1 through 16 {
	.minh-#{$i*50}px {
		min-height: #{$i * 50}px;
	}
	.maxh-#{$i*50}px {
		max-height: #{$i * 50}px;
	}
	.minw-#{$i*50}px {
		min-width: #{$i * 50}px;
	}
	.maxw-#{$i*50}px {
		max-width: #{$i * 50}px;
	}
}

// font-size
.font-small{font-size: small;}
.font-large{font-size: large;}
.font-x-large{font-size: x-large;}
.font-xx-large{font-size: xx-large;}

// text-area
.vertical-text-area {
	width: 100%;
	resize: vertical;
}

.confirmable-popover {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	overflow: hidden;

	> .popover-header {
		color: black;
	}
	> .popover-body {
		padding: 0;
	}
}

.bg-excel {
  background-color: teal;
  color: white;

	&:hover {
    background-color: darken($color: teal, $amount: 3%);
    color: white;
	}
	&:active, &.active {
    background-color: darken($color: teal, $amount: 7%);
	}
}

// Grid styles  (Not used yet)
.grid-column{
  display: grid;
  grid-template-columns: 1fr;
}
.grid-row{
  display: grid;
  grid-template-rows: 1fr;
}

.grid-gap-4{gap: 4px}
.grid-gap-8{gap: 8px}

.v-line {
  border: 1px solid grey;
  width: 0;
  height: 100%;
}
.h-line {
  border: 1px solid grey;
  height: 0;
  width: 100%;
}


.file-input-wrapper{
  border-radius: 0.25rem;
  overflow: hidden;
  position: relative;

  > input[type=file]{
    opacity: 0;
  }
}

// Background colors
.bg-green {
  background: #6bf0cb4d;
}

.bg-red {
  background: #f06b6b4d;
}

// tables
table {
	> thead {
		text-align: center;
	}
}

.scrollable-table {
	overflow: auto;
	position: relative;

	thead {
		position: sticky;
		background-color: inherit;
		top: 0;
		z-index: 2;
	}
}

table.row-header {
	> tbody > tr > td:first-child {
		text-align: end;
		font-weight: bold;
	}
}

.lds-ring {
	display: inline-block;
	position: relative;
	width: 40px;
	height: 40px;

	div {
		box-sizing: border-box;
		display: block;
		position: absolute;
		width: 32px;
		height: 32px;
		margin: 6px;
		border: 6px solid #0069d9;
		border-radius: 50%;
		animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
		border-color: #0069d9 transparent transparent transparent;

		&:nth-child(1) {
			animation-delay: -0.45s;
		}
		&:nth-child(2) {
			animation-delay: -0.3s;
		}
		&:nth-child(3) {
			animation-delay: -0.15s;
		}
	}
}

@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
