<div class="container-xl">
	<div class="row">
		<div class="col">
			<rd-card [cardTitle]="'Insert Announcement'">
				<div rdCardBadges class="" *ngIf="isEditing">
					<button class="btn btn-sm btn-secondary mr-1" (click)="cancelEdit()">
						<fa-icon [icon]="['fas', 'times']"></fa-icon> Cancel
					</button>
				</div>
				<form [formGroup]="announcementForm">
					<div class="row">
						<div class="col-6">
							<!-- <div class="row form-group">
								<label class="col-4 col-form-label">Member Type</label>
								<div class="col">
									<ng-select
										[items]="phaseTypes$ | async"
										bindLabel="val"
										bindValue="key"
										[searchable]="false"
										[clearable]="false"
										formControlName="memberType"
									></ng-select>
								</div>
							</div> -->
							<div class="row form-group">
								<label for="title" class="col-4 col-form-label">Title</label>
								<div class="col">
									<input formControlName="title" class="form-control" />
								</div>
							</div>
							<div class="row form-group">
								<label class="col-4 col-form-label"> Attachment </label>
								<rd-upload-input
									[singleFileForm]="announcementForm.get('fileForm')"
								></rd-upload-input>
								<!-- <div class="col input-group">
									<input
										type="file"
										class="form-control"
										(change)="uploadFile($event.target.files)"
										#fileUploader
									/>
									<div class="input-group-append" [hidden]="!(hasFile$ | async)">
										<ng-template #popContent>
											<div class="p-2">
												Remove uploaded files?
												<ul class="pl-3">
													<li>
														{{ announcementForm.get('fileName').value }}
													</li>
												</ul>
											</div>
										</ng-template>
										<button
											class="btn btn-info hover-switch-content"
											[ngbPopover]="popContent"
											triggers="mouseenter:mouseleave"
											title="Remove uploaded files"
											(click)="removeUploadedFiles()"
										>
											<fa-icon [icon]="['fas', 'check']" class="not-hovered"></fa-icon>
											<fa-icon [icon]="['fas', 'times']" class="hovered"></fa-icon>
										</button>
									</div>
								</div> -->
							</div>
						</div>
						<div class="col">
							<div class="row form-group">
								<div class="col">
									<textarea
										formControlName="note"
										class="form-control vertical-text-area minh-50px"
										placeholder="Content here..."
									></textarea>
								</div>
							</div>
						</div>
					</div>
					<div class="row justify-content-around">
						<div [ngSwitch]="isEditing">
							<div *ngSwitchCase="false">
								<button
									class="btn btn-primary"
									[disabled]="announcementForm.invalid"
									(click)="submitAnnouncementForm()"
								>
									<fa-icon [icon]="['fas', 'plus']"></fa-icon> Insert New Announcement
								</button>
							</div>
							<div *ngSwitchDefault>
								<button
									class="btn btn-primary"
									[disabled]="announcementForm.invalid"
									(click)="submitAnnouncementForm()"
								>
									<fa-icon [icon]="['fas', 'pen']"></fa-icon> Save
								</button>
								&nbsp;&nbsp;&nbsp;
								<rd-confirmable-pop-up (confirm)="deleteAnnouncement()">
									<button class="btn btn-danger">
										<fa-icon [icon]="['far', 'trash-alt']"></fa-icon> Delete
									</button>
								</rd-confirmable-pop-up>
							</div>
						</div>
					</div>
				</form>
			</rd-card>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<rd-card [cardTitle]="'Announcement List'" [isLoading]="loadingViewAnnouncements$ | async">
				<table class="table table-sm table-hover table-striped table-bordered text-center">
					<thead>
						<tr>
							<th>Date</th>
							<th>Charge</th>
							<!-- <th>Member Permission</th> -->
							<th>Title</th>
							<th>Content and Attachment</th>
						</tr>
					</thead>
					<tbody>
						<tr
							*ngFor="let announcement of announcements$ | async"
							class="cursor-pointer"
							(click)="selectAnnouncement(announcement)"
						>
							<td>
								{{ announcement.InsertOn | date: 'dd MMM yyyy HH:mm:ss' }}
							</td>
							<td>{{ announcement.InsertBy.Name }}</td>
							<!-- <td>{{ announcement.MemberType }}</td> -->
							<td>{{ announcement.Title }}</td>
							<td
								class="text-left"
								style="font-size: small"
								[innerHTML]="announcement.contentAndAttachmentHTML"
							></td>
							<a href=""></a>
						</tr>
					</tbody>
				</table>
			</rd-card>
		</div>
	</div>
</div>
