:host {
  .room-transaction-header{
    font-size: large;
    font-weight: bold;
  }

	.room-transaction-item {
		padding: 8px;
		margin: 8px;
		width: 150px;
		height: 120px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    position: relative;
    
    
    .item__badge{
      text-align: right;
    }
    
    .item__title{
      font-size: x-large;
    }
    
    .item__actions{
      position: absolute;
      left: 8px;
      top: 8px;
    }
    
    .item__pic{
      position: absolute;
      left: 8px;
      bottom: 8px;
    }
	}
}
