<div class="row" [routerLink]="['presentation','view-question']">
	<div class="col-1 text-center">{{ question.Answers.length }} Answers</div>
	<div class="col">
		<div class="row" [innerHTML]="question.Question.Text"></div>
		<div class="row" *ngIf="question.rightAnswer != null">
			<p><b>Answered:</b></p>
			<p>{{ question.rightAnswer }}</p>
		</div>
	</div>
	<div class="col-2">
		<div class="row justify-content-end">
			<!-- TODO: Put ng-container for button -->
			<ng-content select=".actions"></ng-content>
		</div>
		<div class="row">Asked By {{ question.Question.UserName }}</div>
		<div class="row" [ngClass]="{ 'text-danger': question.DeadlinePassed }">
			{{ presentation.Deadline | date: 'dd MMM yyyy hh:mm' }}
		</div>
	</div>
</div>
