<div class="row">
	<div class="text-center question-side-detail">
		{{ question.Answers.length }} <br />
		Answers
	</div>
	<div class="col pl-4">
		<div class="row question">
			<a class="col" [routerLink]="questionLink">
				<quill-view-html [content]="question.Question.Text"></quill-view-html>
			</a>

			<!-- Add details to top right of question component -->
			<div class="d-flex flex-column question-side-detail maxw-200px">
				<div class="row justify-content-end text-right">
					Asked By {{ question.Question.UserName }}
				</div>
				<div
					class="row justify-content-end text-right"
					[ngClass]="{ 'text-danger': question.DeadlinePassed }"
				>
					{{ presentation.Deadline | date: dateFormat }}
				</div>
				<div class="row justify-content-end">
					<ng-content select=".actions"></ng-content>
				</div>
			</div>
		</div>
		<ng-container *ngIf="question.rightAnswer != null">
			<div class="row">
				<b>Answered:</b>
			</div>
			<div class="row answer" [innerHTML]="question.rightAnswer.Text"></div>
		</ng-container>
	</div>
</div>
