<div class="container-xl">
	<div class="row">
		<div class="col">
			<rd-card
				[cardTitle]="'Trainer Teaching Schedule'"
				[isLoading]="loadingFormInsertTeachingSchedule$ | async"
				[expanded]="false"
			>
				<div class="row">
					<div class="col-5">
						<div>
							The input format must be :
							<p class="text-center font-style-italic" style="font-family: monospace;">
								TeachingDate,Trainer,Room,Shift,Type,Topic
							</p>
							<ul style="margin: 0">
								<li>Teaching date => date format</li>
								<li>Trainer => Trainer's initial</li>
								<li>Room => 000-999 | link | etc.</li>
								<li>Shift</li>
								<li>Type => 'instructor' | 'co-instructor' | etc.</li>
								<li>Topic => Name of topic</li>
								<li>
									For example,
									<ul>
										<li>2011-11-30,ac10-2,710,15:20,instructor,CH1</li>
										<li>12/31/2011,ac10-2,710,15:20,co-instructor,CH2</li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="row form-group">
							<div class="col">
								<textarea
									[formControl]="insertTeachingScheduleText"
									class="form-control vertical-text-area minh-150px"
								></textarea>
							</div>
						</div>
						<div class="row">
							<button
								class="btn btn-primary"
								[disabled]="insertTeachingScheduleText.invalid"
								(click)="submitInsertTeachingSchedule()"
							>
								<fa-icon [icon]="['fas', 'plus']"></fa-icon> Insert
							</button>
						</div>
					</div>
					<div class="col">
						<div class="row mb-2" [formGroup]="viewTrainerTeachingScheduleControl">
							<div class="col-auto col-form-label">From</div>
							<div class="col">
								<input type="date" class="form-control" formControlName="startDate" />
							</div>
							<div class="col-auto col-form-label">To</div>
							<div class="col">
								<input type="date" class="form-control" formControlName="endDate" />
							</div>
						</div>
						<rd-data-table
							[data]="viewTrainerTeachingSchedule$ | async"
							[sortable]="true"
							[fixedHeight]="400"
							[noDataMessage]="'No training schedules'"
						>
							<rd-table-header> </rd-table-header>
							<ng-container>
								<rd-table-column
									[prop]="'TeachingDate'"
									[label]="'Teaching Date'"
									[sortable]="true"
									[sortState]="'DESC'"
								>
									<ng-template rdTableTemplate="body" let-schedule="rowData">
										{{ schedule.TeachingDate | date: viewDateFormat }}
									</ng-template>
								</rd-table-column>

								<rd-table-column [label]="'Trainer'">
									<ng-template rdTableTemplate="body" let-schedule="rowData">
										<span *ngFor="let trainer of schedule.Trainer">
											{{ trainer.Username }} ({{ trainer.Type }})
											<br />
										</span>
									</ng-template>
								</rd-table-column>

								<rd-table-column [prop]="'Shift'" [label]="'Shift'"></rd-table-column>

								<rd-table-column [label]="'Room'">
									<ng-template rdTableTemplate="body" let-schedule="rowData">
										<ng-container [ngSwitch]="isRoomLink(schedule.Room)">
											<ng-container *ngSwitchCase="false">
												{{ schedule.Room }}
											</ng-container>
											<ng-container *ngSwitchDefault>
												<a [href]="schedule.Room" rdExternalUrl>Link here</a>
											</ng-container>
										</ng-container>
									</ng-template>
								</rd-table-column>

								<rd-table-column [label]="'Actions'" [cellClass]="'text-left'">
									<ng-template rdTableTemplate="body" let-schedule="rowData">
										<rd-confirmable-pop-up (confirm)="deleteTraineeTrainingSchedule(schedule)">
											<button class="btn btn-xs btn-danger">
												<fa-icon [icon]="['far', 'trash-alt']"></fa-icon> Delete
											</button>
										</rd-confirmable-pop-up>
									</ng-template>
								</rd-table-column>
							</ng-container>
						</rd-data-table>
					</div>
				</div>
			</rd-card>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<rd-card
				[cardTitle]="'Trainee Training Schedule'"
				[isLoading]="loadingFormInsertTrainingSchedule$ | async"
				[expanded]="false"
			>
				<div class="row">
					<div class="col-5">
						<form #insertTraineeTrainingScheduleForm="ngForm">
							<div class="row">
								<div>
									The input format must be: 
									<p class="text-center font-style-italic" style="font-family: monospace;">
										TCode,AttendanceDate,TimeIn,TimeOut,Type,Room
									</p>
									<ul style="margin: 0">
										<li>TCode => T000 - T999</li>
										<li>AttendanceDate => date format</li>
										<li>TimeIn => 00:00-23:59 (when schedule starts)</li>
										<li>TimeOut => 00:00-23:59 (when schedule ends)</li>
										<li>Type => 'Rest' | 'Room' | 'Secretariat'</li>
										<li>Room => 000-999 | link | etc.</li>
										<li>
											For example,
											<ul>
												<li>T000,2011-11-30,07:19,17:20,Secretariat,610</li>
												<li>T999,12/31/2011,11:00,11:45,Rest,610</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
							<div class="row form-group">
								<div class="col">
									<textarea
										[formControl]="insertTrainingScheduleText"
										class="form-control vertical-text-area minh-150px"
									></textarea>
								</div>
							</div>
							<div class="row">
								<button
									class="btn btn-primary"
									[disabled]="insertTrainingScheduleText.invalid"
									(click)="submitInsertTrainingSchedule()"
								>
									<fa-icon [icon]="['fas', 'plus']"></fa-icon> Insert
								</button>
							</div>
						</form>
					</div>
					<div class="col">
						<div class="row mb-2" [formGroup]="viewTraineeTrainingScheduleControl">
							<div class="col-auto col-form-label">From</div>
							<div class="col">
								<input type="date" class="form-control" formControlName="startDate" />
							</div>
							<div class="col-auto col-form-label">To</div>
							<div class="col">
								<input type="date" class="form-control" formControlName="endDate" />
							</div>
						</div>
						<rd-data-table
							[data]="viewTraineeTrainingSchedule$ | async"
							[sortable]="true"
							[fixedHeight]="400"
							[noDataMessage]="'No training schedules'"
						>
							<rd-table-header> </rd-table-header>
							<ng-container>
								<rd-table-column
									prop="TraineeCode"
									[label]="'Trainee'"
									[sortable]="true"
								></rd-table-column>

								<rd-table-column
									[prop]="'AttendanceDate'"
									[label]="'Date'"
									[sortable]="true"
									[sortState]="'DESC'"
								>
									<ng-template rdTableTemplate="body" let-schedule="rowData">
										{{ schedule.AttendanceDate | date: viewDateFormat }}
									</ng-template>
								</rd-table-column>

								<rd-table-column prop="Type" [label]="'Type'"></rd-table-column>

								<rd-table-column [label]="'Time'">
									<ng-template rdTableTemplate="body" let-schedule="rowData">
										{{ schedule.TimeIn }} - {{ schedule.TimeOut }}
									</ng-template>
								</rd-table-column>

								<rd-table-column [label]="'Room'" [cellClass]="'text-left'">
									<ng-template rdTableTemplate="body" let-schedule="rowData">
										<ng-container [ngSwitch]="isRoomLink(schedule.Room)">
											<ng-container *ngSwitchCase="false">
												{{ schedule.Room }}
											</ng-container>
											<ng-container *ngSwitchDefault>
												<a [href]="schedule.Room" rdExternalUrl>Link here</a>
											</ng-container>
										</ng-container>
									</ng-template>
								</rd-table-column>

								<rd-table-column [label]="'Actions'">
									<ng-template rdTableTemplate="body" let-schedule="rowData">
										<rd-confirmable-pop-up (confirm)="deleteTraineeTrainingSchedule(schedule)">
											<button class="btn btn-xs btn-danger">
												<fa-icon [icon]="['far', 'trash-alt']"></fa-icon> Delete
											</button>
										</rd-confirmable-pop-up>
									</ng-template>
								</rd-table-column>
							</ng-container>
						</rd-data-table>
					</div>
				</div>
			</rd-card>
			<rd-card
				[cardTitle]="'Insert Trainee Attendance'"
				[isLoading]="loadingFormInsertTraineeAttendance$ | async"
				[expanded]="false"
			>
				<form #insertTraineeAttendanceForm="ngForm">
					<div class="row">
						<div>
							The input format must be: Trainee number,Lecture date,Lecture schedule
							<ul style="margin: 0">
								<li>Trainee number, whose trainee lecture schedule you wish to set</li>
								<li>Lecture date, in general date format</li>
								<li>Lecture schedule, must not contains comma sign (,)</li>
								<li>
									For example,
									<ul>
										<li>T000,2011-11-30,07:20-11:00 05MZT 521 Sistem Operasi</li>
										<li>T999,12/31/2011,19:20-21:00 09PXW 814 Pemrograman Bahasa Tingkat Rendah</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
					<div class="row form-group">
						<div class="col">
							<textarea
								[formControl]="insertTraineeAttendanceText"
								class="form-control vertical-text-area minh-150px"
							></textarea>
						</div>
					</div>
					<div class="row">
						<button
							class="btn btn-primary"
							[disabled]="insertTraineeAttendanceText.invalid"
							(click)="submitInsertTraineeAttendance()"
						>
							<fa-icon [icon]="['fas', 'plus']"></fa-icon> Insert
						</button>
					</div>
				</form>
			</rd-card>
			<rd-card
				[cardTitle]="'Insert Trainee Lecture Schedule'"
				[isLoading]="loadingFormInsertLectureSchedule$ | async"
				[expanded]="false"
			>
				<form #insertTraineeLectureScheduleForm="ngForm">
					<div class="row">
						<div>
							The input format must be: Trainee number,Lecture date,Lecture schedule
							<ul style="margin: 0">
								<li>Trainee number, whose trainee lecture schedule you wish to set</li>
								<li>Lecture date, in general date format</li>
								<li>Lecture schedule, must not contains comma sign (,)</li>
								<li>
									For example,
									<ul>
										<li>T000,2011-11-30,07:20-11:00 05MZT 521 Sistem Operasi</li>
										<li>T999,12/31/2011,19:20-21:00 09PXW 814 Pemrograman Bahasa Tingkat Rendah</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
					<div class="row form-group">
						<div class="col">
							<textarea
								[formControl]="insertLectureScheduleText"
								class="form-control minh-150px vertical-text-area"
							></textarea>
						</div>
					</div>
					<div class="row">
						<button
							class="btn btn-primary"
							[disabled]="insertLectureScheduleText.invalid"
							(click)="submitInsertLectureSchedule()"
						>
							<fa-icon [icon]="['fas', 'plus']"></fa-icon> Insert
						</button>
					</div>
				</form>
			</rd-card>
		</div>
	</div>
</div>
