<div class="container">
	<div class="row">
		<div class="col-4">
			<rd-card [cardTitle]="editForm ? 'Edit Phase' : 'Insert New Phase'">
				<div rdCardBadges class="" *ngIf="editForm">
					<button
						class="btn btn-sm btn-secondary mr-1"
						(click)="onCancelEdit()"
					>
						<fa-icon [icon]="['fas', 'times']"></fa-icon> Cancel
					</button>
				</div>
				<form>
					<div class="row form-group">
						<label for="genName" class="col-4 col-form-label">Name</label>
						<div class="col">
							<input
								type="text"
								class="form-control"
								name="genName"
								[ngModel]="editForm?.Description"
							/>
						</div>
					</div>
					<div class="row form-group">
						<label for="beginDate" class="col-4 col-form-label"
							>Begin Date</label
						>
						<div class="col">
							<input
								type="text"
								class="form-control"
								name="beginDate"
								[ngModel]="editForm?.BeginDate | date: editDateFormat"
							/>
						</div>
					</div>
					<div class="row form-group">
						<label for="endDate" class="col-4 col-form-label">End Date</label>
						<div class="col">
							<input
								type="text"
								class="form-control"
								name="endDate"
								[ngModel]="editForm?.EndDate | date: editDateFormat"
							/>
						</div>
					</div>
					<div class="row form-group">
						<label for="endDate" class="col-4 col-form-label">Phase Type</label>
						<div class="col">
							<ng-select
								id="selectPhaseType"
								name="selectPhaseType"
								[items]="phaseTypes"
								[clearable]="false"
								[bindLabel]="'val'"
								[bindValue]="'key'"
								[searchable]="false"
								[ngModel]="phaseTypes[0].key"
							></ng-select>
						</div>
					</div>
					<div class="row justify-content-around">
						<button class="btn btn-primary" *ngIf="!editForm">
							<fa-icon [icon]="['fas', 'plus']"></fa-icon> Create Phase
						</button>
						<button class="btn btn-primary" *ngIf="editForm">
							<fa-icon [icon]="['fas', 'pen']"></fa-icon> Save
						</button>
						<rd-confirmable-button *ngIf="editForm">
							<button class="btn btn-danger">
								<fa-icon [icon]="['far', 'trash-alt']"></fa-icon> Delete
							</button>
						</rd-confirmable-button>
					</div>
				</form>
			</rd-card>
			<rd-card [cardTitle]="'Trainee in Phase'">
				<form>
					<div class="row form-group">
						<label for="phaseType" class="col-4 col-form-label"
							>Phase Type</label
						>
						<div class="col">
							<ng-select
								id="selectPhaseType"
								name="selectPhaseType"
								[items]="phaseTypes"
								[clearable]="false"
								[bindLabel]="'val'"
								[bindValue]="'key'"
								[searchable]="false"
								[ngModel]="phaseTypes[0].key"
							></ng-select>
						</div>
					</div>
					<div class="row form-group">
						<label for="phaseType" class="col-4 col-form-label">Phase</label>
						<div class="col">
							<ng-select
								id="selectPhase"
								name="selectPhase"
								[items]="phases"
								[clearable]="false"
								[bindLabel]="'Description'"
								[bindValue]="'PhaseId'"
								[searchable]="false"
								[ngModel]="phases[0].PhaseId"
							></ng-select>
						</div>
					</div>
					<div class="row form-group">
						<label for="traineeText" class="col-4 col-form-label">Trainee</label>
						<div class="col">
							<textarea
								name="traineeText"
								id="traineeText"
								class="form-control"
								style="resize: vertical; width: 100%;"
							></textarea>
						</div>
					</div>
					<div class="row justify-content-around">
						<button class="btn btn-primary">
							<fa-icon [icon]="['fas', 'plus']"></fa-icon> Insert Trainee(s)
						</button>
					</div>
				</form>
			</rd-card>
		</div>
		<div class="col">
			<rd-card [cardTitle]="'Phase List'">
				<table class="table table-sm table-striped table-hover text-center">
					<thead>
						<tr>
							<th>Name</th>
							<th>Begin Date</th>
							<th>End Date</th>
							<th>Type</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngIf="phases?.length === 0">
							<td colspan="4">No phases yet</td>
						</tr>
						<tr
							*ngFor="let phase of phases"
							class="cursor-pointer"
							(click)="onSelectPhase(phase)"
						>
							<td>{{ phase.Description }}</td>
							<td>{{ phase.BeginDate | date: viewDateFormat }}</td>
							<td>{{ phase.EndDate | date: viewDateFormat }}</td>
							<td>{{ getPhaseType(phase.PhaseType) }}</td>
						</tr>
					</tbody>
				</table>
			</rd-card>
			<rd-card [cardTitle]="'Trainee In Phase'">
				<div class="row form-group">
					<div class="col">
						<ng-select
							id="selectPhaseType"
							name="selectPhaseType"
							[items]="phaseTypes"
							[clearable]="false"
							[bindLabel]="'val'"
							[bindValue]="'key'"
							[searchable]="false"
							[ngModel]="phaseTypes[0].key"
						></ng-select>
					</div>
					<div class="col">
						<ng-select
							id="selectPhase"
							name="selectPhase"
							[items]="phases"
							[clearable]="false"
							[bindLabel]="'Description'"
							[bindValue]="'PhaseId'"
							[searchable]="false"
							[ngModel]="phases[0].PhaseId"
						></ng-select>
					</div>
				</div>
				<div class="row">
					<table class="table table-sm table-striped table-hover text-center">
						<thead>
							<tr>
								<th width="70">Trainee</th>
								<th width="150">Binusian Number</th>
								<th>Name</th>
								<th width="80">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngIf="traineeInPhase?.length === 0">
								<td colspan="4">No trainees in this phase</td>
							</tr>
							<tr *ngFor="let trainee of traineeInPhase" class="cursor-pointer">
								<td>{{ trainee.TraineeCode }}</td>
								<td>{{ trainee.TraineeNumber }}</td>
								<td>{{ trainee.TraineeName }}</td>
								<td>
									<rd-confirmable-button
										[description]="'Delete ' + trainee.TraineeName + '?'"
										(confirm)="onDeleteTrainee(trainee)"
									>
										<button class="btn btn-xs btn-danger">
											<fa-icon [icon]="['far', 'trash-alt']"></fa-icon> Delete
										</button>
									</rd-confirmable-button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</rd-card>
		</div>
	</div>
</div>
