<div class="container-xl">
	<div class="row">
		<div class="col-3">
			<rd-card #viewCaseCard [cardTitle]="'View Cases'" [isLoading]="viewCaseLoading$ | async">
				<div class="col">
					<div class="row pb-3">
						<div class="col">
							<ng-select
								[items]="phases$ | async"
								[clearable]="false"
								bindLabel="Description"
								placeholder="Phase"
								[searchable]="false"
								[ngModel]="viewCurrentPhase$ | async"
								(change)="viewCurrentPhase$.next($event)"
							></ng-select>
						</div>
					</div>
					<div class="row pb-3">
						<div class="col">
							<ng-select
								[items]="subjectList$ | async"
								[clearable]="false"
								bindLabel="Name"
								placeholder="Subject"
								[searchable]="false"
								[ngModel]="viewCurrentSubject$ | async"
								(change)="viewCurrentSubject$.next($event)"
							></ng-select>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<ng-select
								[items]="viewScheduleList$ | async"
								[clearable]="false"
								bindLabel="ScheduleName"
								placeholder="Schedule"
								[searchable]="false"
								[ngModel]="viewCurrentSchedule$ | async"
								(change)="viewCurrentSchedule$.next($event)"
							></ng-select>
						</div>
					</div>
				</div>
			</rd-card>
		</div>
		<div class="col">
			<rd-card
				[cardTitle]="'Case List'"
				[expanded]="caseList$ | async"
				[isLoading]="caseListLoading$ | async"
			>
				<table class="table table-sm table-striped table-hover text-center">
					<thead>
						<tr>
							<th>Case Name</th>
							<th>Schedule Date</th>
							<th>Trainee Deadline</th>
							<th>Trainer Deadline</th>
							<th>Correctors</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngIf="(caseList$ | async)?.length === 0">
							<td class="p-3" colspan="6">No cases yet</td>
						</tr>
						<tr
							*ngFor="let case of caseList$ | async"
							class="cursor-pointer"
							(click)="onSelectCase(case)"
						>
							<td>{{ case.CaseName }}</td>
							<td>{{ case.ScheduleDate | date: viewDateFormat }}</td>
							<td>{{ case.TraineeDeadline | date: viewDateFormat }}</td>
							<td>{{ case.TrainerDeadline | date: viewDateFormat }}</td>
							<td>{{ case.correctorList }}</td>
						</tr>
					</tbody>
				</table>
			</rd-card>
			<rd-card
				[cardTitle]="isEditing ? 'Edit/View Case' : 'Insert New Case'"
				[isLoading]="formCaseLoading$ | async"
			>
				<!-- Expand if form has value -->
				<div rdCardBadges *ngIf="isEditing">
					<button class="btn btn-sm btn-secondary mr-1" (click)="cancelEdit()">
						<fa-icon [icon]="['fas', 'times']"></fa-icon> Cancel
					</button>
				</div>
				<form [formGroup]="caseForm">
					<div class="row">
						<div class="col">
							<!-- <div class="row form-group" [hidden]="isEditing">
								<label class="col-3 col-form-label">Subject</label>
								<div class="col">
									<ng-select
										[items]="subjectList$ | async"
										[clearable]="false"
										[searchable]="false"
										bindLabel="Name"
										placeholder="Subject"
										formControlName="subject"
									></ng-select>
								</div>
							</div> -->
							<div class="row form-group">
								<label class="col-3 col-form-label">Case Name</label>
								<div class="col">
									<input class="form-control" formControlName="caseName" />
								</div>
							</div>
							<div class="row form-group">
								<label class="col-3 col-form-label">Corrector(s)</label>
								<div class="col">
									<input
										class="form-control"
										placeholder="XX99-9, AA00-0"
										formControlName="correctorNames"
									/>
								</div>
							</div>
							<div class="row form-group">
								<label class="col-3 col-form-label">File</label>
								<rd-upload-input
									[disabled]="caseForm.get('noUpload').valueChanges | async"
									[singleFileForm]="caseForm.get('fileForm')"
								></rd-upload-input>
							</div>
							<div class="row form-group">
								<label class="col-3 col-form-label"></label>
								<div class="col">
									<div class="custom-control custom-checkbox">
										<input
											type="checkbox"
											id="isQuiz"
											class="custom-control-input"
											formControlName="noUpload"
										/>
										<label class="custom-control-label" for="isQuiz">Is Quiz</label>
									</div>
								</div>
							</div>
						</div>
						<div class="col">
							<!-- <div class="row form-group" [hidden]="isEditing">
								<label class="col-4 col-form-label">Schedule</label>
								<div class="col">
									<ng-select
										[items]="formScheduleList$ | async"
										[clearable]="false"
										[searchable]="false"
										bindLabel="ScheduleName"
										bindValue="ScheduleId"
										placeholder="Schedule"
										formControlName="scheduleId"
									></ng-select>
								</div>
							</div> -->
							<div class="row form-group">
								<label class="col-4 col-form-label">Starts at</label>
								<div class="col">
									<input
										type="datetime-local"
										class="form-control"
										formControlName="scheduleDate"
									/>
								</div>
							</div>
							<div class="row form-group">
								<label class="col-4 col-form-label">Trainer Deadline</label>
								<div class="col">
									<input type="datetime-local" class="form-control" formControlName="trainerDays" />
								</div>
							</div>
							<div class="row form-group">
								<label class="col-4 col-form-label">Trainee Deadline</label>
								<div class="col">
									<input type="datetime-local" class="form-control" formControlName="traineeDays" />
								</div>
							</div>
						</div>
					</div>
					<div class="row justify-content-around mt-2" [ngSwitch]="isEditing">
						<ng-container *ngSwitchCase="false">
							<button class="btn btn-primary" [disabled]="caseForm.invalid" (click)="createCase()">
								<fa-icon [icon]="['fas', 'plus']"></fa-icon> Create
							</button>
						</ng-container>
						<ng-container *ngSwitchDefault>
							<button class="btn btn-primary" [disabled]="caseForm.invalid" (click)="updateCase()">
								<fa-icon [icon]="['fas', 'pen']"></fa-icon> Save Changes
							</button>
							<rd-confirmable-pop-up
								[title]="'Delete ' + caseForm.value.caseName + '?'"
								[description]="deleteReasonTemplate"
								[canConfirm]="deleteReasonText.valid"
								(confirm)="deleteCase()"
								(cancel)="deleteReasonText.reset()"
							>
								<ng-template #deleteReasonTemplate>
									<textarea
										class="form-control"
										[formControl]="deleteReasonText"
										placeholder="Input reasons here..."
										cols="30"
										rows="4"
									></textarea>
								</ng-template>
								<button class="btn btn-danger">
									<fa-icon [icon]="['far', 'trash-alt']"></fa-icon> Delete
								</button>
							</rd-confirmable-pop-up>
						</ng-container>
					</div>
					<!-- <div class="row justify-content-end mt-2">
              <i>Note: datetime-local input is not supported by Firefox</i>
          </div> -->
				</form>
			</rd-card>
		</div>
	</div>
</div>
