<!-- <ng-container [ngSwitch]="isConfirming">
	<button
		class="btn"
		(click)="isConfirming = true"
		*ngSwitchCase="false"
	>
		<ng-content class="test"></ng-content>
	</button>

	<div class="btn-sm confirm" *ngSwitchCase="true">
		<button class="btn" (click)="confirm.emit(); isConfirming = false">
			Yes
		</button>
		<div class="confirm__body col">Are you sure?</div>
		<button class="btn" (click)="isConfirming = false">No</button>
	</div>
</ng-container> -->
<ng-template #popContent>
	<div class="row p-2" *ngIf="description !== ''">
		{{ description }}
	</div>
	<div class="row">
		<ng-content select=".description"></ng-content>
	</div>
	<div class="btn-group w-100">
		<button class="btn btn-sm btn-primary rounded-0" [disabled]="!canConfirm" (click)="confirm.emit(); popOver.close()">
			Yes
		</button>
		<button class="btn btn-sm btn-secondary rounded-0" (click)="popOver.close()">No</button>
	</div>
</ng-template>
<ng-template #popTitle>Are you sure?</ng-template>

<div #pop="ngbPopover" [ngbPopover]="popContent" [popoverTitle]="popTitle" [autoClose]="'outside'">
	<ng-content></ng-content>
</div>
